
@import "./styles/guide.css";

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 83%;
  margin: 0 auto;
  max-width: 1440px;
}

body {
    font-family: var(--raleway);
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

