@import "./styles/guide.css";

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--raleway);
}

.container {
    width: 83%;
    margin: 0 auto;
    max-width: 1440px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

