@media screen and (max-width: 1024px) {
  .bottom-chat-footer {
    padding-left: 12px !important;
  }
}
@media screen and (max-width: 1100px) {
  header {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .form__-control input,
  .submit__btn {
    max-width: 100%;
  }

  .chat__box__contaniner-left {
    width: 100% !important;
  }
  .mobile-sign-in-link {
    display: block !important;
  }
  .TopFreealancerContent,
  .freelancers-list__freelancer {
    width: 100% !important;
  }
  .TopFreealancerContent {
    width: 100% !important;
  }
  .side-nav-steppers,
  .chat-call-right {
    display: none;
  }
  .search__container,
  .dashboard__name {
    display: none !important;
  }
  #talent.manage_-_Talent {
    display: none !important;
  }
  .dashboard-avatar-name-notify {
    width: 130px !important;
  }
  .dashboard-avatar-name-notify .avatarImg img {
    width: 24px;
    height: 23.98px;
  }
  header .header-after-login {
    padding-top: 12px;
    padding-bottom: 11.62px;
    padding: 24px;
  }
  .dashboard-avatar-name-notify .avatarImg {
    margin-right: 8px;
  }
  .dashboard-avatar-name-notify .notification {
    margin-right: 12px;
  }
  .brand-registration__inner,
  .freelancer-registration__inner {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 950px) {
  .home-two .home-two-card-container {
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }
  .main-section__inner .looking-for-talent,
  .collaborate .collaborate__inner {
    flex-direction: column-reverse;
    padding: 0;
  }
  .main-section__inner .looking-for-talent .looking-for-talent-text,
  .collaborate .collaborate__inner .collaborate-text {
    width: 100%;
  }

  .inn-what-you-stand-to-gain__lists {
    width: 100% !important;
  }
  .unlimited__access {
    width: 100% !important;
    max-width: 335px !important;
    margin: 0 auto !important;
    height: 300px !important;
  }
  .unlimited__access .unlimited__access_span {
    min-height: 165px !important;
  }
  .what-you-stand-to-gain__list-container .what-you-stand-to-gain__lists {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .container .inner__secure-payment-section {
    flex-direction: column-reverse;
    gap: 32px;
  }
  .home-two-card {
    max-width: 335px !important;
    min-height: 222px !important;
  }
  .card-icon {
    margin-bottom: 25px !important;
  }
  .what-you-stand-to-gain__list-container {
    flex-direction: column;
    align-items: center;
  }
  .manage-your-team__inner .manage-your-team-text {
    grid-template-columns: 1fr;
  }
  .bannerTwo__image,
  .banner-image__container {
    display: none;
  }
  .page__title .homepage__header {
    /* margin-top: 24.62px; */
    margin-bottom: 28px;
  }
  .banner__button .banner__text__button {
    width: 100%;
    padding: 10px 5px;
  }
  .secure-payment-section {
    height: 653px !important;
  }
  .secure-payment-section-img,
  .secure-payment-text {
    width: 100% !important;
  }
  .secure-payment-section-img img {
    max-width: 335px !important;
    height: 362.75px !important;
  }
  .collaborate-image2 .collaborate-circle {
    width: 223px;
    height: 225px;
  }
  .collaborate-circle .pulse,
  .pulse .glowinglogo {
    width: 55px;
    height: 55px;
  }
  .pulse .glowinglogo img {
    width: 20.51px;
    height: 19.12px;
  }
  .collaborate-image2 .Ellipse1477,
  .collaborate-image2 .Ellipse1478 {
    width: 112px !important;
    height: 112px !important;
    position: relative;
    z-index: 1;
  }
  .modal__body {
    width: 700px !important;
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 991px) {
  #job-descrip .border-botom {
    border-bottom: 1px solid #00000033;
  }
  .jobsCreated__TotalHire {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  #my-job-projects .project-select {
    width: 100% !important;
  }

  .Card_-_dashboard img {
    width: 100% !important;
  }
  .ManageScheduleMobile {
    display: block !important;
  }
  .Manage__Schedule__container {
    display: flex;
    flex-direction: column;
  }
  .contact_us {
    flex-direction: column;
    gap: 50px;
    margin-top: 38px !important;
    margin-bottom: 133px !important;
  }
  .Manage__Schedule__container .Manage__Schedule {
    display: none;
  }
  .dashboard_mobile_searchBar,
  .chat__box__contaniner-left .personal__avatar svg {
    display: block !important;
  }
  .ChatBoxMembers {
    width: 100% !important;
    top: 0;
    z-index: 1;
    background: #f2f2f2 !important;
  }
  .ChatBox__Search,
  .ChatBox__Mobile__ .ChatBox__Search .inn__chatBox__search {
    background-color: #f2f2f2 !important;
  }
  .top-freelancer-mobile {
    position: relative;
    top: -20px;
  }
  .inn-top-freelancer,
  .topjobtwo__container,
  .top-jobs-right,
  .top-freelancer {
    flex-direction: column;
  }
  .top-jobs-right {
    padding: 0 !important;
  }
  .topjobtwo__left {
    width: 100% !important;
  }
  .SearchBox {
    display: none;
  }
  .footer__inner {
    flex-direction: column;
    gap: var(--fs-30);
  }
  .footer__inner .footer__links {
    max-width: 100% !important;
    border: none;
  }
  .llflfkdk {
    position: absolute !important;
    right: 0;
    left: 0;
    top: 133px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .business-chat-view2 {
    display: none !important;
  }
  .business__channel-header h2 {
    color: #333333 !important;
  }
  .MessageBox__ .MessageBox__header {
    border-radius: 10px 10px 0px 0px !important;
  }
  .sideBarBusinessChat,
  .sideBarBusiness2 {
    width: 100% !important;
    background-color: var(--white) !important;
  }
  .chat__box__container {
    display: none;
  }
  .sideBarTopJobs,
  .sideBarTopFreelancer {
    width: 100% !important;
    margin-bottom: 50px;
    padding-top: 40px;
    /* min-height: 1079px; */
  }
  .message__box-component2 {
    display: none;
  }
  .MessageBox__ {
    padding: 15px;
  }
  .MessageBox__ .chat__container-header {
    display: block !important;
  }
  .MessageBox__.Biz__MessageBox__ {
    left: 0px !important;
  }
  .business-chat-container {
    margin-top: 0 !important;
    flex-direction: column;
  }
  .sideBarBusinessChat,
  .mobile__business__channel-header,
  .business__channel-header .business__channel-header-left {
    width: 100% !important;
    background-color: var(--white) !important;
  }
  .business__chat-view__svg path,
  .business-chat__side-bar-content svg path {
    fill: var(--primary) !important;
  }
  .business-chat__side-bar-content span {
    color: #333333 !important;
  }
}
@media screen and (max-width: 380px) {
  .jobsCreated__TotalHire {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .home-two .home-two-title h2,
  .popular-service .popular-service-title,
  .secure-payment-text .popular-service-text__title,
  .inner-our-top-freelancers .our-top-freelancers-header h2,
  .collaborate-text2 .collaborate-text__title2,
  .getNotifyBannerPara1,
  .getNotifyBannerPara2,
  .b-step-title,
  .step-title,
  .modalformHeader h2,
  .chat__container-title,
  .catalogue .inn-catalogue h2,
  .trusted__clients .inn-trusted__clients h2,
  .get-access-title,
  .inn-what-you-stand-to-gain__lists h2,
  .looking-for-talent-text__title,
  .collaborate-text__title,
  .manage-your-team-title,
  .inn__ourclients__testimonial .inn__ourclients__testimonial__header h2,
  .become-a-business-banner,
  .chat__box--header .chat__box--header__ .chat__box--header__title,
  .secure-payment-text .popular-service-subtitle__title, .accordion .accordionH2 {
    font-size: var(--fs-24) !important;
    line-height: 32px !important;
  }
  .faqs__header__title h1{
    font-size: var(--fs-20) !important;
    line-height: 32px !important;
  }
  .faqs__header__title{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
  .homepage__header .page__title__inner {
    font-size: var(--fs-18) !important;
    line-height: 24px !important;
    position: relative;
    /* top: -20px; */
  }
  .contact_us__left .contact_us__left__subtitle1{
    font-size: 25px !important;
  }
  .homepage__header svg {
    width: 36px;
    height: 36px;
  }
  .banner__inner .banner__text__title {
    font-size: 32px;
  }
  .header__inner .logo img {
    width: 24px !important;
    height: 22.38px !important;
  }
  .banner__text__button {
    width: 111px !important;
    font-size: var(--fs-14) !important;
  }
  .mobileAuth_h1,
  .form__title h1,
  .group_chat-messager-container p {
    font-size: var(--fs-16) !important;
    text-align: center;
  }
  .inn-chat-input-icons {
    gap: 10px !important;
  }
  .arrow_box span {
    font-size: 18px !important;
    line-height: 21.78px !important;
  }
  .mobile-message__box-component_header {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .reply__to-message__box {
    background-color: var(--primary) !important;
    color: #ffffff !important;
  }
  .chat-messager-container {
    padding: 24px !important;
    padding-top: 16px !important;
    padding-bottom: 5px !important;
  }
  .date-time-duration,
  .form__-control .date-time-duration .__TimePicker__box,
  .date-time-duration .__DatePicker {
    flex-direction: column !important;
    width: 100%;
  }
  .TopJobsContent__BOX {
    min-height: 201px;
  }
  .time__to {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 100%;
  }
  .form__-control .date-time-duration .__TimePicker__box .TimePicker2 {
    position: relative;
    top: 0 !important;
  }
  .chat__container-subtitle,
  .message__box-container .msg-P,
  .chat__box__contaniner-left .arrow-top-G-Chat span,
  .looking-for-talent-text__subtitle,
  .collaborate-text__subtitle,
  .manage-your-team-subtitle,
  .inn__ourclients__testimonial .inn__ourclients__testimonial__header p,
  .chat__box--header .chat__box--header__ p,
  .bannerTwo__text .banner__text__subtitle,
  .logo span, .contact_us__left__btn-disabled button span, .contact_us__left .contact_us__left__subtitle2 {
    font-size: var(--fs-16) !important;
  }
  .inn-send-message-box,
  .middle-message-time-date {
    font-size: var(--fs-12) !important;
    line-height: 15px !important;
  }
  .send-message-time-date {
    margin-bottom: 16px;
  }
  .card__image {
    width: 250px !important;
    min-height: 210px !important;
  }
  .created-_-Img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .reply-message-box .inn-reply-message-box2 {
    padding: 9px;
    width: 250px;
    font-size: var(--fs-12);
    height: 46px;
    background: #fbfbfb;
    border-radius: 6px 6px 6px 0px;
  }
  .dropDownIcon {
    color: #333333 !important;
  }
  .manage-your-team-image img {
    max-width: 335px !important;
    height: 120.72px !important;
  }
  .collaborate__inner2 {
    flex-direction: column;
  }

  .BusinessChatImg-content {
    margin-top: 63px;
  }

  .business__channel-header h2 {
    color: #333333 !important;
  }

  .business-chat__side-bar-list:hover span {
    color: #ffffff !important;
  }
  .business__chat__searchBox,
  .mobile__video__call {
    display: block !important;
  }
  .accordion-header {
    font-size: var(--fs-14) !important;
    line-height: 24px !important;
  }
  .accordion__Para {
    font-size: 12.5px !important;
  }
  .rate-form-P {
    font-size: var(--fs-12) !important;
  }
  .unlimited__access .unlimited__access_span span {
    font-size: 48px !important;
  }
  .authResetPassword__P {
    text-align: center;
  }
  .collaborate-text2 .collaborate-text__title2 {
    line-height: 40px;
  }
  .getNotifyBannerPara1,
  .getNotifyBannerPara2 {
    line-height: 10px !important;
  }
  .looking-for-talent-image img,
  .collaborate-image img {
    max-width: 335px !important;
    height: 335px !important;
  }
  .banner {
    background-color: #ffffff !important;
    min-height: 400px !important;
    padding-bottom: 10px;
  }
  .banner__inner .bannerTwo__text {
    margin-top: 34px;
  }
  .banner__inner .banner__text__title {
    color: var(--primary);
    line-height: 48px;
  }
  .banner__inner .banner__text__title-businessPage {
    color: #18191f;
  }
  .banner__text__subtitle {
    width: 100% !important;
  }
  .bannerTwo__text .banner__text__subtitle {
    color: #18191f;
    line-height: 27px;
  }
  .home-two {
    margin-top: 0 !important;
  }
  .home__banner__button button:nth-child(1) {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    width: 149px !important;
    font-size: var(--fs-14) !important;
  }
  .home__banner__button button:nth-child(2) {
    background-color: var(--white) !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    width: 100px !important;
    font-size: var(--fs-14) !important;
  }

  .getNotifyBannerPara2 {
    margin-bottom: 18px;
  }
  .secure-payment-text .popular-service-text__title {
    margin-bottom: 12px;
  }
  .home-two-card .card-title h2,
  .card-image .about-us-card-caption {
    font-size: var(--fs-18);
  }
  .chat__avatar {
    width: 40px !important;
    height: 40px !important;
  }
  .stories-profile-details,
  .addStories_-img__svg {
    width: 80px;
  }
  .catalogue .container.inn-catalogue .catalogue-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stories__container .stories-show-box .avatar__stories {
    width: 44px !important;
    height: 44px !important;
  }
  .home-two-card .card-article p,
  .collaborate-text2 .collaborate-button2,
  .b-step form .vangold-input label,
  .step form .vangold-input label,
  .upload-passport label,
  .step-subtitle,
  .form-input label,
  .datePickerBox label,
  .select-dropdown-item p,
  .add_edu-btn,
  .banner__text__button,
  .chatBox__profile p,
  .inn-what-you-stand-to-gain__lists p,
  .unlimited__access .unlimited__access-top p {
    font-size: var(--fs-14) !important;
    line-height: 24px !important;
  }
  .chatBox__profile p {
    position: relative;
    top: 5px;
  }
  .b-save-and-next button,
  .save-and-next button {
    width: 122px !important;
    height: 42px !important;
    font-size: var(--fs-14) !important;
    text-align: center;
  }
  .collaborate-text2 .collaborate-button2 {
    width: 143px;
    height: 36px;
  }
  .talent-card__inner .about-us-card-image {
    height: 274.73px;
  }
  .card-image img {
    width: 200px;
    height: 274.73px;
  }
  footer {
    background-image: url(./assets//images/footer.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .bottomfooter__inner {
    flex-direction: column;
    text-align: center;
  }
  .left_bottom_f {
    margin-bottom: 20px;
  }

  .footer__inner {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .footer__inner .footer__links h2,
  .footer__contacts h2,
  .logo-container .footer-logo h2 {
    font-size: var(--fs-16) !important;
  }
  .logo-container .footer-logo img {
    width: 24px !important;
    height: 22.38px !important;
  }

  .footer__contacts h2 {
    margin-bottom: 16px !important;
  }
  .terms-policy-links ul {
    align-items: center;
    justify-content: center;
  }

  .TopFreealancerContent__BOX-details_TOP,
  .TopFreealancerContent__BOX_images {
    display: none !important;
  }
  .MobileView-TopFreealancerContent__BOX-details_TOP,
  .mobile__call,
  .chat__box__contaniner-left .grp__chat__view-left-top svg {
    display: block !important;
  }
  .MobileView-TopFreealancerContent {
    display: flex;
    justify-content: space-between;
    gap: 17px;
    margin-bottom: 16px !important;
    min-height: 100px;
  }
  .inn__TopFreealancerContent__BOX-details_TOP {
    margin-bottom: 0 !important;
  }
  .MobileView-TopFreealancerContent__BOX_images {
    height: 100% !important;
    margin-bottom: 12.25px;
  }
  .Top__Freelancer_pic {
    position: relative;
    top: 7px;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50% !important;
  }
  .Top__Freelancer_pic img {
    max-width: 100%;
    height: 100%;
    border-radius: 50% !important;
  }
  .paginationContainer {
    margin-top: 40px !important;
  }
  .top-freelancer_header {
    height: 73px !important;
    /* margin-bottom: 16px !important; */
    display: flex;
    align-items: center;
  }
  .inn-top-freelancer-header h2 {
    font-size: var(--fs-24) !important;
  }
  .top__jobs__freelancers {
    display: none;
  }
  .freelancer-regs-step,
  .step textarea {
    margin-bottom: 32px !important;
  }
  .edu-btns {
    justify-content: space-between !important;
  }
  .inn__datePickerBox {
    gap: 21px !important;
  }

  .message__box-container,
  .Call_-_box-container {
    display: none !important;
  }
  .group__subject {
    width: 100% !important;
  }
  .group__subject {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  #chat-mobile-box {
    display: block !important;
  }
  #chat-mobile-box .chat-mobile-box-container {
    display: block !important;
  }
}

@media screen and (max-width: 320px) {
  .group__subject {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .collaborate-image2 .Ellipse1477 {
    left: -20px !important;
  }
  .collaborate-image2 .Ellipse1478 {
    left: 20px !important;
  }
}
@media screen and (max-width: 467px) {
  .microsoft_jobs_discrip__ {
    display: grid !important;
    grid-template-columns: 1fr !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .footer__inner .footer__links .ul li a,
  .logo-container .footer__text,
  .footer__contacts p,
  .right_bottom_f a {
    font-size: var(--fs-14) !important;
  }
  .password-reset-success-box p {
    font-size: var(--fs-14) !important;
  }
  .success__title.h1 {
    font-size: var(--fs-24) !important;
  }
  .password-reset-success-box img {
    width: 40px !important;
    height: 40px !important;
  }
}
@media screen and (max-width: 650px) {
  #freelancer-profile .freelancer__profile_buttons {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #freelancer-profile .freelancer__profile_buttons button {
    width: 100% !important;
  }
}
@media screen and (max-width: 550px) {
  .getNotifyInput button {
    float: none !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 24px;
  }
  .top-jobs_NEW-TEXT-box {
    display: block !important;
  }
  .verify-logo h2 {
    font-size: var(--fs-18) !important;
  }
  .recentview__text {
    font-size: var(--fs-18) !important;
    line-height: 21px !important;
  }
  .Top__Freelancer_info h3,
  .job-_-_name {
    font-size: var(--fs-16) !important;
  }
  .modalFormHome_-_channelHead {
    font-size: var(--fs-24) !important;
  }
  .stars {
    width: 13.33px;
  }
  .verify-logo {
    gap: 11px !important;
  }

  .verify-svg-logo {
    width: 14.67px;
    height: 14px;
  }
  .inn-TopFreealancerContent__BOX_images {
    width: 90px !important;
    height: 96.75px !important;
  }
  .TopJobs-pic {
    height: 48px !important;
    width: 48px !important;
  }
  .TopJobs-pic img {
    width: 25px !important;
    height: 25px !important;
  }
  .align-self-center {
    display: none;
  }
  .top-jobs_NEW-TEXT-box {
    width: 100%;
    text-align: right;
  }
  .location-br-select {
    gap: 21px !important;
  }
  .contact_us__right-form-top-input{
    flex-direction: column;
  }
  .job-_-_descrip,
  .TopJobsContent__BOX-BOTTOM_button button,
  .select-dropdown-header p {
    font-size: var(--fs-12) !important;
  }
  .freelancer__svg-top-right svg {
    width: 14px !important;
    height: 18px !important;
  }
  .inn__TopFreealancerContent__BOX-details_BOTTOM button:nth-child(1) {
    max-width: 60px !important;
  }
  .inn__TopFreealancerContent__BOX-details_BOTTOM button:nth-child(2) {
    max-width: 83px !important;
  }
  .inn__TopFreealancerContent__BOX-details_BOTTOM button:nth-child(3) {
    max-width: 129px !important;
  }
  .inn__TopFreealancerContent__BOX-details_BOTTOM button,
  .job-_-_address,
  .top-jobs_NEW-TEXT {
    font-size: var(--fs-14) !important;
  }
  .job-_-_name {
    line-height: 19px !important;
  }
  .job-_-_address {
    line-height: 16px !important;
  }
  .job-_-_descrip {
    line-height: 15px !important;
  }
  .inn__TopFreealancerContent__BOX-details_BOTTOM button:nth-child(1) {
    max-width: 60px !important;
    height: 42px !important;
  }
  .inn__TopFreealancerContent__BOX-details_BOTTOM button:nth-child(2) {
    max-width: 83px !important;
    height: 42px !important;
  }

  .mobile__call .inner__mobile--call .inner__mobile--call-top {
    min-height: 200px !important;
  }
  .TopJobsContent__BOX-BOTTOM_button button:nth-child(1) {
    width: 84px !important;
    height: 33px !important;
  }
  .TopJobsContent__BOX-BOTTOM_button button:nth-child(2) {
    width: 70px !important;
    height: 33px !important;
  }
  .TopJobsContent__BOX-BOTTOM_button button:nth-child(3) {
    width: 68px !important;
    height: 33px !important;
  }
  .love__icon {
    width: 13.33px !important;
    height: 12.23px !important;
  }
  .edu-btns .button1,
  .edu-btns .button2 {
    width: 100% !important;
  }
  .catalogue .container.inn-catalogue .catalogue-list {
    grid-template-columns: 1fr 1fr;
  }
  .catalogue .inn-catalogue .catalogue-list div span {
    font-size: var(--fs-13) !important;
  }
}
@media screen and (max-width: 850px) {
  .auth-form__image,
  .top__jobs__freelancers {
    display: none;
  }
  .inn_SearchInputBox .mobile-freelancers-searchBar {
    display: block !important;
  }

  .inn_SearchInputBox input,
  .inn_SearchInputBoxRight input {
    height: 36px !important;
    background: rgba(118, 118, 128, 0.12) !important;
    border-radius: 8px !important;
  }
  /* .inn_SearchInputBox .inn_SearchInputBox_svg path {
    fill: #808080;
    width: 17.49px;
    height: 17.49px;
  }
  .inn_SearchInputBox svg.inn_SearchInputBox_svg {
    width: 17.49px;
    height: 17.49px;
  } */
  .auth-form__form {
    max-width: 100% !important;
  }
  .form__title .desktopAuth_h1,
  .form__title .authLogin__P {
    display: none !important;
  }
  .form__title .mobileAuth_h1,
  .authResetPassword__P {
    display: block !important;
  }
  .change-account-pswrd,
  .dont-have-account,
  .already-have-account {
    display: none !important;
  }
  .reset__change__password {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 24px;
  }
  .reset-btn {
    width: 100% !important;
  }
  .inn_SearchInputBoxRight {
    display: none !important;
  }
  .brand-registration,
  .freelancer-registration {
    margin-bottom: 100px !important;
  }
  .brand-registration__inner {
    grid-template-columns: 1fr !important;
  }
  .b-save-and-next {
    margin-top: 36px !important;
  }
  .b-step textarea {
    margin-bottom: 32px !important;
  }
}
