.chat__box--header {
  display: flex;
  justify-content: space-between;
}
.chat__box--header .chat__box--header__ .chat__box--header__title {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-30);
  line-height: 20px;
  color: #000000;
}
.chat__box--header .chat__box--header__ p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-20);
  line-height: 20px;
  color: #000000;
  opacity: 0.6;
}
.MessageBox__ {
  width: 100%;
  min-height: 778px;
  margin-bottom: 100px;
  position: relative;
}
.MessageBox__ .chat__container-header {
  display: none;
}
.MessageBox__ .MessageBox__header {
  height: 70px;
  background: rgba(69, 182, 24, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 35px;
  position: relative;
}
.MessageBox__ .MessageBox__header svg {
  cursor: pointer;
}
.MessageBox__ .MessageBox__header .MessageBox__header__icons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.MessageBox__ .MessageBox__header .MessageBox__header__icons .call__video__icon{
  display: flex;
  align-items: center;
  gap: 18px;
}
.topChatBox__ {
  display: flex;
  gap: 1px !important;
}
.topChatBox__ .ChatBox__,
.topChatBox__ .inn__topChatBox__ {
  width: 100%;
}
.ChatBox__.ChatBox4__ {
  min-height: 738px;
}
.MessageBox__ .MessageBox__header .ChatBox__popoverBox {
  width: 340px;
  /* min-height: 262px; */
  background: #ffffff;
  box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: absolute;
  right: 0px;
  top: 30px;
  padding-bottom: 25px;
  z-index: 1;
}
.MessageBox__ .MessageBox__header .ChatBox__popoverBox.ChatBox__arrow-top {
  margin-top: 40px;
}
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox.ChatBox__arrow-top:after {
  content: " ";
  position: absolute;
  right: 15px;
  top: -25px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 30px solid #ffffff;
}
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox
  .ChatBox__popover__close-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 18px;
  margin-right: 18px;
  margin-bottom: 9.12px;
}
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox
  .ChatBox__popover__links
  li,
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox
  .ChatBox__popover__links
  a {
  height: 43px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-18);
  line-height: 23px;
  color: var(--secondary);
  display: flex;
  align-items: center;
  padding-left: 34px;
  cursor: pointer;
}
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox
  .ChatBox__popover__links
  li:hover,
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox
  .ChatBox__popover__links
  a:hover {
  background: #f7f6f6;
  font-weight: bold;
}
.MessageBox__ .MessageBox__header .MessageBox__profile__data {
  display: flex;
  align-items: center;
  gap: 12px;
}
.MessageBox__ .MessageBox__header .MessageBox__profile__data span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: var(--secondary);
  text-align: center;
}

.MessageBox__ .ChatBox__ {
  margin-top: 34px;
  padding-left: 24px;
  padding-right: 24px;
}

.MessageBox__ .ChatBox2__ {
  margin-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.MessageBox__ .ChatBox__ .ChatBox__sendMsg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.MessageBox__ .ChatBox__ .ChatBox__sendMsg .ChatBox__sendMsg__time span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  opacity: 0.3;
  color: #333333;
}
.MessageBox__ .ChatBox__ .Inn__ChatBox__sendMsg {
  max-width: 349px;
  min-height: 43px;
  background: #45b618;
  border-radius: 6px 6px 0px 6px;
  display: flex;
  padding: 16px;
}
.MessageBox__ .ChatBox__ .ChatBox__sendMsg .Inn__ChatBox__sendMsg {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
}
.MessageBox__ .ChatBox__ .center__time {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 18px;
  text-align: center;
  color: #888888;
  margin-bottom: 24px;
}
.MessageBox__ .ChatBox__ .ChatBox__replyMsg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.MessageBox__
  .ChatBox__
  .ChatBox__replyMsg
  .Top__ChatBox__replyMsg
  .Inn__Top__ChatBox__replyMsg {
  margin-top: 9px;
}

.MessageBox__ .ChatBox__ .ChatBox__replyMsg,
.ChatBox__replyMsg .Top__ChatBox__replyMsg {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #666666;
}
.MessageBox__ .ChatBox__ .ChatBox__replyMsg .ChatBox__replyMsg__time,
.MessageBox__ .ChatBox__ .ChatBox__sendMsg .ChatBox__sendMsg__time,
.ChatBox__replyMsg .Top__ChatBox__replyMsg span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  opacity: 0.3;
  color: #333333;
}
.MessageBox__ .ChatBox__ .ChatBox__sendMsg .ChatBox__sendMsg__time,
.MessageBox__ .ChatBox__ .ChatBox__replyMsg .ChatBox__replyMsg__time {
  margin-top: 6px;
  margin-bottom: 15px;
}
.MessageBox__ .ChatBox__ .Inn__ChatBox__replyMsg {
  max-width: 190px;
  /* min-height: 65px; */
  background: #f2f2f2;
  border-radius: 6px 6px 6px 0px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.MessageBox__ .ChatBox__ .Inn__ChatBox__replyMsg-2 {
  max-width: 245px;
}
.Announcement__ChatBox__container {
  margin-bottom: 24px;
}
.MessageBox__ .ChatBox__ .Inn__ChatBox__replyMsg .Inn__ChatBox__replyMsg__name,
.MessageBox__
  .ChatBox__
  .Announcement__ChatBox__replyMsg
  .Inn__announcement__ChatBox__replyMsg
  .Inn__ChatBox__replyMsg__name {
  font-family: var(--mulish);
  font-weight: bold;
  color: #009bbc;
}
.MessageBox__
  .ChatBox__
  .Announcement__ChatBox__replyMsg
  .Inn__announcement__ChatBox__replyMsg
  .announcement__time {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  opacity: 0.3;
  color: #333333;
  margin-left: 10px;
}
.MessageBox__ .ChatBox__ .Announcement__ChatBox__replyMsg {
  width: 100%;
}
.MessageBox__
  .ChatBox__
  .Announcement__ChatBox__replyMsg
  .Inn__announcement__ChatBox__replyMsg {
  width: 100%;
  background: #f2f2f2;
  border-radius: 6px 6px 6px 0px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.love_announce_-icon {
  background: rgba(242, 242, 242, 0.3);
  border-radius: 2px;
  width: 25px;
  margin-top: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  outline: none;
}
.love_announce_-icon .ann__like__counter {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: 8px;
  color: #808080;
}
.love_announce_-icon .heartGreen {
  color: var(--primary);
}
.ChatBox__replyMsg .Top__ChatBox__replyMsg .Inn__Top__ChatBox__replyMsg {
  max-width: 176px;
  min-height: 38px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 6px 6px 0px 6px;
  padding: 8px 16px 8px 16px;
}
.MessageBox__ .ChatBox__Footer {
  width: 100%;
  min-height: 77px;
  background: #f2f7ff;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 15px 12px 15px 76px;
}
.MessageBox__ .ChatBox__Footer.ChatChatMsgBox__Footer {
  padding: 15px 12px 15px 12px;
}
.ChatBox__ .ChatBox__Footer svg {
  cursor: pointer;
}
.MessageBox__ .ChatBox__Footer .Inn__ChatBox__Footer-input {
  width: 100%;
  min-height: 48px;
  background: #e2e6ed;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.MessageBox__ .ChatBox__Footer .Inn__ChatBox__Footer-input svg {
  margin-right: 16.39px;
}
.MessageBox__
  .ChatBox__Footer
  .Inn__ChatBox__Footer-input
  .ChatBox__Footer-input {
  width: 100%;
  padding-right: 10px;
}
.MessageBox__
  .ChatBox__Footer
  .Inn__ChatBox__Footer-input
  .ChatBox__Footer-input
  input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

/* ChatBoxTwo Style*/
.ChatBox__ .ChatBox__sendMsg .Inn__ChatBox__sendMsg-2 {
  gap: 10px;
  background: #efefef;
  flex-direction: column;
  max-width: 176px;
  min-height: 66px;
}
.ChatBox__ .ChatBox__sendMsg .Inn__ChatBox__sendMsg.Inn__ChatBox__sendMsg-2 {
  color: #666666;
}
.ChatBox__
  .ChatBox__sendMsg
  .Inn__ChatBox__sendMsg.Inn__ChatBox__sendMsg-2
  span {
  color: #fc7300;
  font-weight: bold;
}
.ChatBox__ .ChatBox__replyMsg .Inn__ChatBox__replyMsg-2 {
  max-width: 144px;
  min-height: 55px;
  border: 1px solid #999999;
  box-sizing: border-box;
}

/*Biz ChatBoxFour*/
.MessageBox__.Biz__MessageBox__ {
  max-width: 909px;
  min-height: 1062px;
  /* position: relative;
  left: -15px; */
}

.MessageBox__.Biz__MessageBox__ .Biz__MessageBox__header {
  width: 100%;
  height: 62px;
  border-radius: 0px;
  background-color: var(--primary);
}
.MessageBox__.Biz__MessageBox__
  .Biz__MessageBox__header
  .MessageBox__profile__data {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}
.MessageBox__.Biz__MessageBox__
  .Biz__MessageBox__header
  .MessageBox__profile__data
  span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-18);
  line-height: 23px;
  color: #ffffff;
}
.MessageBox__.Biz__MessageBox__
  .Biz__MessageBox__header
  .MessageBox__profile__data
  span:nth-child(2) {
  font-weight: normal;
  font-size: var(--fs-12);
  line-height: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.MessageBox__.Biz__MessageBox__ .ChatBox__ .ChatBox__MsgSendContainer {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}
.MessageBox__.Biz__MessageBox__ .ChatBox__ .ChatBox__MsgSendContainer img,
.MessageBox__.Biz__MessageBox__ .ChatBox__ .ChatBox__MsgReplyContainer img {
  width: 24px;
  height: 24px;
}

.MessageBox__.Biz__MessageBox__ .ChatBox__ .ChatBox__MsgReplyContainer {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
}
.MessageBox__
  .MessageBox__header
  .ChatBox__popoverBox.Biz__ChatBox__arrow-top:after {
  right: 23px;
}

/*Chat Box Members DropDown*/
.ChatBoxMembers {
  width: 272px;
  margin: 0 auto;
  min-height: 675px;
  background: #ebecea;
  border-radius: 0px 10px 0px 0px;
}
.ChatBox__Search {
  width: 272px;
  margin: 0 auto;
  border-radius: 0px 10px 0px 0px;
  background: #ebecea;
}
.ChatBoxMembers .inn__ChatBoxMembers__header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 17px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.ChatBox__Search .chat__search__header {
  display: flex;
  align-items: center;
  gap: 29px;
  background: #DAF0D1;
  border-radius: 0px 10px 0px 0px;
  height: 70px;
}

.ChatBox__Search .chat__search__header svg{
  cursor: pointer;
}
.ChatBox__Search .chat__search__header span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-18);
  line-height: 100%;
  color: var(--secondary);
}
.ChatBox__Search .inn__chatBox__search {
  min-height: 675px;
}
.chatBox__search__text {
  display: flex;
  align-items: center;
  max-width: 179px;
  margin: auto;
  margin-top: 40px;
}
.chatBox__search__text p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-14);
  line-height: 18px;
  text-align: center;
  color: #888888;
}
.ChatBox__Search .chat__search_-_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 1;
}
.ChatBox__Search .chat__search_-_box input {
  width: 240px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 45px;
  outline: none;
  border: none;
}
.ChatBox__Search .chat__search_-_box svg {
  position: absolute;
  left: 33px;
  top: 30px;
  cursor: pointer;
}
.ChatBoxMembers .inn__ChatBoxMembers__header svg {
  cursor: pointer;
}
.ChatBoxMembers .inn__ChatBoxMembers__header input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.ChatBoxMembers .inn__ChatBoxMembers__header input::placeholder {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  line-height: 100%;
  color: var(--secondary);
}
.ChatBoxMembers .ChatBoxMembers__display_container {
  padding: 30px 0px 20px 0px;
}
.ChatBoxMembers .ChatBoxMembers__display_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 3px 17px 3px 10px;
  cursor: pointer;
  margin-bottom: 24px;
}
.ChatBoxMembers .ChatBoxMembers__display_box:hover {
  background-color: #e2e6ed;
}
.ChatBoxMembers .ChatBoxMembers__display_box .ChatBoxMembers__display_l {
  display: flex;
  gap: 6px;
}

.ChatBoxMembers .ChatBoxMembers__display_box .ChatBoxMembers__display_l img {
  width: 40px;
  height: 40px;
}
.ChatBoxMembers
  .ChatBoxMembers__display_box
  .ChatBoxMembers__display_l
  .ChatBoxMembers__display_l_name_msg {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ChatBoxMembers
  .ChatBoxMembers__display_box
  .ChatBoxMembers__display_l
  .ChatBoxMembers__display_l_name_msg
  span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 18px;
  color: var(--secondary);
}
.ChatBoxMembers
  .ChatBoxMembers__display_box
  .ChatBoxMembers__display_l
  .ChatBoxMembers__display_l_name_msg
  span:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-12);
  line-height: 15px;
  color: #666666;
}
.ChatBoxMembers__display_box .ChatBoxMembers__display_r button {
  height: 19px;
  width: 69px;
  border-radius: 3px;
  background: #e9e9e9;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: 10px;
  line-height: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Group Participants */
.ChatBoxMembers .top__inn__ChatBoxMembers__header {
  min-height: 70px;
  background: #daf0d1;
  border-radius: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  justify-content: space-between;
}
.ChatBoxMembers .top__inn__ChatBoxMembers__header span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-18);
  line-height: 100%;
  text-align: center;
  color: var(--secondary);
}
.ChatBoxMembers .top__inn__ChatBoxMembers__header svg {
  cursor: pointer;
}
.ChatBoxMembers .top__inn__ChatBoxMembers__header .arrow__left {
  display: none;
}
.GroupParticipants {
  min-height: 919px;
  position: relative;
  left: -1px;
}
/* Mobile Message Box */
.MessageBox__ .Mobile__MessageBox__header {
  background-color: var(--primary);
  border-radius: 10px 10px 0px 0px;
}
.MessageBox__ .Mobile__MessageBox__header .MessageBox__profile__data span {
  color: var(--white);
}
.MessageBox__ .MessageBox__header .MessageBox__profile__data__svg svg {
  margin-left: 18px;
}
.MessageBox__ .Mobile__MessageBox__header .MessageBox__profile__data__svg svg {
  margin-left: 18px;
}
.MessageBox__
  .Mobile__MessageBox__header
  .MessageBox__profile__data__svg
  svg
  path {
  fill: var(--white);
}
.MessageBox__ .ChatBox__ .ChatBox__sendMsg .Mobile__Inn__ChatBox__sendMsg {
  max-width: 250px;
  font-size: 12px;
  line-height: 15px;
}
.MessageBox__ .ChatBox__ .ChatBox__replyMsg .Mobile__Inn__ChatBox__replyMsg {
  max-width: 250px;
  font-size: 12px;
  line-height: 15px;
}
.MessageBox__ .ChatBox__ .ChatBox__replyMsg .call__chatBox {
  max-width: 100%;
  min-height: 31px;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  background: #fbfbfb;
  border-radius: 6px 6px 6px 0px;
  padding: 8px 23px 8px 13px;
  gap: 8px;
}
.Biz__MessageBox__ .Mobile__Biz__MessageBox__header {
  background-color: var(--primary);
}
.Biz__MessageBox__
  .Mobile__Biz__MessageBox__header
  .MessageBox__profile__data
  span {
  color: var(--white);
}

/* ManageTalent__ChatBox__ */
.MessageBox__ .ChatBox__ .ChatBox__Footer.ManageTalent__ChatBox__Footer {
  padding: 0px;
  background-color: #fbfbfb;
}
.MessageBox__ .ManageTalent__ChatBox__ {
  padding: 0px;
  margin: 0;
}

/* Biz Chat Screen Footer Input */

.Biz__MessageBox__ .Biz__ChatBox__ {
  min-height: 888px;
}
.Biz__MessageBox__ .ChatBox__Footer {
  width: 100%;
  min-height: 77px;
  background: #f2f7ff;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 15px 12px 15px 76px;
}
.Biz__MessageBox__ .ChatBox__Footer.ChatChatMsgBox__Footer {
  padding: 15px 12px 15px 12px;
}
.Biz__MessageBox__ .ChatBox__Footer svg {
  cursor: pointer;
}
.Biz__MessageBox__ .ChatBox__Footer .Inn__ChatBox__Footer-input {
  width: 100%;
  min-height: 48px;
  background: #e2e6ed;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.Biz__MessageBox__ .ChatBox__Footer .Inn__ChatBox__Footer-input svg {
  margin-right: 16.39px;
}
.Biz__MessageBox__
  .ChatBox__Footer
  .Inn__ChatBox__Footer-input
  .ChatBox__Footer-input {
  width: 100%;
  padding-right: 10px;
}
.Biz__MessageBox__
  .ChatBox__Footer
  .Inn__ChatBox__Footer-input
  .ChatBox__Footer-input
  input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.ChatBox__replyMsg .Inn__ChatBox__replyMsg.Biz__Inn__ChatBox__replyMsg {
  max-width: 444px;
}

/* CallChat__ */
.CallChat__ {
  position: relative;
  max-width: 699px;
  margin: 0 auto;
  border-radius: 0px 10px 10px 0px;
}
.CallChat__ img {
  max-width: 100%;
}
.CallChat__ .CallChat__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 30px;
}
.CallChat__ .CallChat__header .CallImg {
  border: 2px solid #fff;
  border-radius: 4px;
}
.CallChat__ .CallChat__header button {
  width: 90px;
  min-height: 40px;
  background: rgba(51, 51, 51, 0.5);
  border-radius: 8px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 100%;
  color: #ffffff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  gap: 13.33px;
}
.CallChat__ .CallChat__header svg,
.CallChat__ .CallChat__footer svg {
  cursor: pointer;
}
.CallChat__ .CallChat__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 32px;
  padding: 30px;
}
.MessageChatBox__ {
  display: flex;
}

.ChatBox__Mobile__ .ChatBox__Search{
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.ChatBox__Mobile__ .ChatBox__Search .inn__chatBox__search{
  z-index: 5;
  position: relative;
  background-color: #ECECEB;
}
.ChatBox__Mobile__ .ChatBox__Search .chat__search__header {
  background: #DAF0D1;
  padding-left: 20px;
}
.ChatBox__Search .chat__search__header svg{
  cursor: pointer;
}
.ChatBox__Search .chat__search_-_box input {
  width: 100%;
}