.top-jobs {
  margin-bottom: 107px;
}
.top__jobs__freelancers {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-18);
  line-height: 32px;
  color: #18191f;
  margin-top: 24px;
}
.inn-top-jobs {
  display: flex;
  width: 100%;
  gap: 24px;
}
.top-jobs_header {
  background: #45b618;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.inn-top-jobs-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
}
.inn-top-jobs-header h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-50);
  line-height: 59px;
  color: var(--white);
}
.sideBarTopJobs {
  width: 250px;
  height: 1579px;
  background: #c2c4bfab;
}

.TopJobsContent__BOX {
  width: 100%;
  height: 250px;
  background: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.TopJobsContent__BOX-TOP {
  width: 100%;
  display: flex;
  gap: 16px;
}
.TopJobs-pic {
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopJobs-pic img {
  height: 61.332183837890625px;
  width: 50px;
}
.TopJobs-info {
  width: 100%;
}
.TopJobsContent__BOX-BOTTOM {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.job-_-_name {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-24);
  line-height: 28px;
  color: var(--secondary);
}
.job-_-_address {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-18);
  line-height: 21px;
  color: #4f4f4f;
}
.job-_-_descrip {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 20px;
  color: #808080;
  height: 69px;
}
.TopJobsContent__BOX-BOTTOM_button {
  display: flex;
}
.TopJobsContent__BOX-BOTTOM_button button {
  outline: none;
  border: none;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-16);
  line-height: 20px;
  border-radius: 4px;
  margin-right: 8px;
}
.TopJobsContent__BOX-BOTTOM_button button:nth-child(1) {
  width: 117px;
  height: 48px;
  background: rgba(233, 36, 36, 0.2);
}
.TopJobsContent__BOX-BOTTOM_button button:nth-child(2) {
  width: 99px;
  height: 48px;
  background: rgba(69, 182, 24, 0.2);
}
.TopJobsContent__BOX-BOTTOM_button button:nth-child(3) {
  width: 96px;
  height: 48px;
  background: rgba(8, 62, 177, 0.2);
  gap: 18px;
}
.top-jobs_NEW-TEXT {
  font-size: 16px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
}
