
.top-freelancer-right{
  background-color: #f9faf9;
  padding-top: 40px;
  padding: 24px;
  
}

.top-jobs-right{
  background-color: #f9faf9;
  padding-top: 40px;
  padding: 24px;
  gap: 24px;
}
.top-jobs {
  margin-bottom: 107px;
}
.top-jobs-view {
  max-width: 1140px;
  margin: auto;
}
.jobs__view-cover img {
  width: 100%;
}
.top__jobs__freelancers {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-18);
  line-height: 32px;
  color: #18191f;
  margin-top: 24px;
}
.follow-visit-site-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}
.follow-visit-site-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-followers-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.follow-visit-site-btn .follow__box button {
  width: 100px;
  height: 42px;
  background: #45b618;
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-12);
  line-height: 14px;
  color: #ffffff;
}
.follow-visit-site-btn .follow__box .following__btn {
  display: none;
}
.follow-visit-site-btn .visit-website__btn button,
.follow-visit-site-btn .follow__box button:nth-child(2) {
  width: 134px;
  height: 42px;
  background: #f8f8f8;
  border: 1px solid #45b618;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-12);
  line-height: 14px;
  color: var(--primary);
}
.inn-top-jobs {
  display: flex;
  width: 100%;
  gap: 24px;
}
.sideBarTopJobs {
  width: 235px;
  background-color: #f9faf9 !important;
}
.topjobtwo__container{
  width: 100%;
  display: flex;
  gap: 24px;
}
.topjobtwo__left{
  width: 230px;
}
.topjobtwo__right{
  width: 100%;
}
.topjobtwo__right div:nth-child(1) img{
  width: 100%;
}
.mobile__filter{
  float: right;
}
.top-jobs_header {
  background: #45b618;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.inn-top-jobs-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
}
.inn-top-jobs-header h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-50);
  line-height: 59px;
  color: var(--white);
}
.top-jobs_NEW-TEXT-box {
  display: none;
}
.jobs-list__jobs {
  width: 100% !important;
}
.job-descrip{
  margin-top: 10px;
}
.TopJobsContent__BOX {
  max-width: 100%;
  background: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.TopJobsContent__BOX-TOP {
  width: 100%;
  display: flex;
  gap: 16px;
}
.TopJobs-pic {
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopJobs-pic img {
  height: 61.332183837890625px;
  width: 50px;
}
.TopJobs-info {
  width: 100%;
  height: 100%;
  white-space: normal;
}
.TopJobsContent__BOX-BOTTOM {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.job-_-_name {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-24);
  line-height: 28px;
  color: var(--secondary);
}
.job-_-_address {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-18);
  line-height: 21px;
  color: #4f4f4f;
}
.job-_-_descrip {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 20px;
  color: #808080;
  height: 69px;
}
.TopJobsContent__BOX-BOTTOM_button {
  display: flex;
}
.TopJobsContent__BOX-BOTTOM_button button {
  outline: none;
  border: none;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-16);
  line-height: 20px;
  border-radius: 4px;
  margin-right: 8px;
}
.TopJobsContent__BOX-BOTTOM_button button:nth-child(1) {
  width: 117px;
  height: 48px;
  background: rgba(233, 36, 36, 0.2);
}
.TopJobsContent__BOX-BOTTOM_button button:nth-child(2) {
  width: 99px;
  height: 48px;
  background: rgba(69, 182, 24, 0.2);
}
.TopJobsContent__BOX-BOTTOM_button button:nth-child(3) {
  width: 96px;
  height: 48px;
  background: rgba(8, 62, 177, 0.2);
  gap: 18px;
}
.top-jobs_NEW-TEXT {
  font-size: 16px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
}

/*TOP JOBS VIEW*/
.top__Jobs__view {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 50px;
}
.jobs-view-banner {
  width: 100%;
  height: 200px;
}
.jobs-view-banner img {
  width: 100%;
  height: 100%;
}
.jobs-view-logo {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  margin-left: 24px;
  background-color: var(--white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.116);
}
.user__experience_TEXT {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}
.top__Jobs__view .job-btn-love,
.top__Jobs__view .job-btn-share {
  width: 36px;
  height: 36px;
  background: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.top_jobs_view-paragraph-1 p:nth-child(1) {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-16);
  line-height: 19px;
  color: var(--primary);
}
.top_jobs_view-paragraph-1 p:nth-child(2) {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-medium);
  font-size: var(--fs-16);
  line-height: 19px;
  color: #4f4f4f;
}
.top_jobs_view-paragraph-2 p:nth-child(1),
.row-_-border p:nth-child(1) {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-medium);
  font-size: var(--fs-16);
  line-height: 19px;
  color: #4f4f4f;
}
.top_jobs_view-paragraph-2 p:nth-child(2) {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-16);
  line-height: 19px;
  color: #4f4f4f;
}
.row-_-border {
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row-_-border .border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.row-_-border p:nth-child(2) {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-18);
  line-height: 21px;
  color: #4f4f4f;
}
.top__jobs__view-description {
  max-width: 680px;
  margin-top: 48px;
}
.top__jobs__view-description h1 {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-24);
  line-height: 28px;
  color: var(--secondary);
  margin-bottom: 16px;
}
.top__jobs__view-description p,
.top__jobs__view-description li {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  line-height: 24px;
  color: #4f4f4f;
}
.top__jobs__view-description li span {
  position: relative;
  top: -2.5px;
}

.topjobsview-applyBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}
.topjobsview-applyBtn button {
  width: 120px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 4px;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 16px;
  color: var(--white);
  outline: none;
  border: none;
}

.description__about-yourself-header {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: 600;
  font-size: var(--fs-36);
  line-height: 42px;
  color: #141414;
  margin-bottom: 48px;
}

.description__about-yourself {
  width: 590px;
  height: 300px;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 4px;
  resize: none;
  outline: none;
  border: none;
  padding: 15px;
}

.description__about-yourself-btn {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
