<ul class="text-16px-1">
    <li class="mb-3">
        <span class="me-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="mb-3">
        <span class="me-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="mb-3">
        <span class="me-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="mb-3">
        <span class="me-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="mb-3">
        <span class="me-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
</ul>