footer {
  background-color: #1b2231;
  width: 100%;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 8%;
  padding-bottom: 8%;
  gap: 20px;
}
@media screen and (max-width: 450px) {
  .footer__inner {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
@media screen and (max-width: 767px) {
  .footer__inner {
    flex-direction: column;
    gap: var(--fs-30);
    /* align-items: center; */
  }

  .footer__inner .footer__links {
    max-width: 100%;
    border: none;
  }
}
.logo-container {
  max-width: 385px;
}
.logo-container .footer-logo {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}
.logo-container .footer-logo img {
  width: 28px;
  height: 26.11px;
}
.logo-container .footer-logo h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}
.logo-container .footer__text {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 26px;
  color: #eeeff4;
}
.footer__inner .footer__links {
  width: 160px;
}
.footer__inner .footer__links h2 {
  font-size: var(--fs-20);
  color: var(--white);
  font-weight: var(--font-weight-medium);
  font-family: var(--inter);
  line-height: 30px;
  color: #f4f5f7;
  margin-bottom: 32px;
}
.footer__inner .footer__links ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__inner .footer__links ul li a {
  font-size: var(--fs-16);
  color: var(--white);
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #eeeff4;
}
.footer__inner .footer__links ul li a:hover {
  text-decoration: underline;
}
.footer__contacts {
  width: 347px;
}
.footer__contacts h2{
  font-size: var(--fs-20);
  color: var(--white);
  font-weight: var(--font-weight-medium);
  font-family: var(--inter);
  line-height: 30px;
  font-feature-settings: "salt" on, "liga" off;
  color: #f4f5f7;
  margin-bottom: 32px;
}
.footer__contacts p {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 26px;
  color: #eeeff4;
}
.bottomfooter {
  background-color: #1b2231;
}
.bottomfooter__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  padding-top: 25px;
  padding-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .bottomfooter__inner {
    flex-direction: column;
    text-align: center;
  }
  .left_bottom_f {
    margin-bottom: var(--fs-20);
  }
}
.left_bottom_f p {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #d9dbe1;
}
.right_bottom_f {
  display: flex;
  gap: var(--fs-10);
}
.right_bottom_f a {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 26px;
  color: #eeeff4;
}
.right_bottom_f a:hover {
  text-decoration: underline;
}
.footer__contacts-icons{
  display: flex;
  gap: 16px;
  margin-top: 12px;
}
.icon_box {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.icon_box:hover {
  background-color: var(--primary);
  border-radius: 0;
}
.icon_box img {
  width: 12px;
  height: 12px;
}
.icon_box.img {
  cursor: pointer;
}
.terms-policy {
  margin-top: var(--fs-24);
  border-top: 1px solid #d9dbe1c9;
  padding-top: var(--fs-14);
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .terms-policy-links ul {
    align-items: center;
    justify-content: center;
  }
}

.terms-policy-links ul {
  display: flex;
  gap: var(--fs-14);
}
.terms-policy-links ul li a {
  color: #ffffff;
  font-size: 13px;
}
.terms-policy-links ul li a:hover {
  text-decoration: underline;
}
