.bg-color-w {
  background-color: #f9f9f9;
}
#profile-alljobs,
#my-job,
#my-job-projects .head {
  /* font-size: 24px; */
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  color: #333333;
}
#profile-alljobs .card-bg {
  background-color: #f2f2f2;
  padding: 2rem;
  border: transparent;
  margin-bottom: 2rem;
}
#profile-alljobs .card-pic {
  background-color: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 8px;
}
#profile-alljobs .job-time {
  background-color: #e9242433;
  color: #e92424;
  font-size: 16px;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 3px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#profile-alljobs .job-level {
  background-color: #45b61833;
  color: #45b618;
  font-size: 16px;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 3px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#profile-alljobs .job-price {
  background-color: #083eb133;
  color: #083eb1;
  font-size: 16px;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 3px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#profile-alljobs .paginat {
  font-size: 14px;
  margin-top: 3rem;
}
#profile-alljobs .text-16px {
  font-size: 16px;
  font-family: var(--mulish);
  color: #808080;
}
#profile-alljobs .text-18px {
  font-size: 18px;
  font-weight: var(--font-wieght-semibold);
  font-family: var(--mulish);
  color: #4f4f4f;
}
#profile-alljobs .side-filter {
  font-family: var(--raleway);
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
#job-descrip .bg-color1 {
  background-color: #f2f2f2;
}
#job-descrip .side-filter {
  font-family: var(--raleway);
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
#job-descrip .job-logo {
  background-color: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin-top: -4.5rem;
  margin-left: 2.5rem;
}
#job-descrip .head {
  font-size: 36px;
  font-weight: var(--font-wieght-bold);
  color: #333333;
  margin-top: 2.5rem;
}
#job-descrip .head2 {
  font-size: 24px;
  font-weight: var(--font-wieght-bold);
  color: #333333;
  margin: 4rem 0 1.5rem 0;
}
#job-descrip .job-icon {
  font-size: 2rem;
  color: #4f4f4f;
}
#job-descrip .job-btn {
  border: 1px solid #00000033;
  padding: 0.5rem 1rem;
}
#job-descrip .row-border {
  border: 1px solid #00000033;
  border-radius: 11px;
}
#job-descrip .border-right {
  border-right: 1px solid #00000033;
}
#job-descrip .text-16px {
  font-size: 16px;
  font-weight: var(--font-wieght-bold);
}
#job-descrip .text-16px-1 {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  color: #4f4f4f;
}
#job-descrip .follow-btn {
  background: #45b618;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: var(--font-wieght-bold);
  font-family: var(--raleway);
  border: transparent;
  width: 116px;
  height: 48px;
}
#job-descrip .web-btn {
  border: 1px solid #45b618;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  font-weight: var(--font-wieght-bold);
  font-family: var(--raleway);
  width: 156px;
  height: 48px;
}
#job-descrip .box-upload {
  display: grid;
  place-items: center;
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: -4rem;
  margin-left: 1rem;
}
#job-descrip .box-cover-upload {
  display: grid;
  position: relative;
  width: 100%;
  height: 200px;
}
#job-descrip .cam-label {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  cursor: pointer;
}
#job-descrip .cam-cover-label {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
#job-descrip #uploaded-image {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  object-fit: cover;
}
#job-descrip #uploaded-cover-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#job-descrip #upload-input {
  display: none;
}
#job-descrip #upload-cover-input {
  display: none;
}
.cancel-mod-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #45b618;
  border: 1px solid #45b618;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: var(--raleway);
  width: 96px;
  height: 38px;
}
.unfollow-mod-btn {
  background: #45b618;
  border-radius: 6px;
  font-family: var(--raleway);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  width: 96px;
  height: 38px;
  border: transparent;
}
.unfollow-mod-head {
  font-size: 24px;
  line-height: 28px;
  color: #141414;
  font-weight: var(--font-wieght-bold);
  font-family: var(--raleway);
}
#my-job .my-job-card {
  border: transparent;
  padding: 2rem;
  border-radius: 10px;
}
#my-job .my-job-card-1 {
  border: transparent;
  padding: 2rem 0 5rem 0;
  border-radius: 10px;
}
#my-job .fb {
  font-size: 2rem;
  color: #3c5a9a;
}
#my-job .twit {
  font-size: 2rem;
  color: #1da1f2;
  margin: 0 1rem;
}
#my-job .btn-1 {
  background-color: var(--primary);
  font-size: 18px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  border: transparent;
  padding: 0.7rem 2rem;
  margin-right: 1rem;
}
#my-job .btn-2 {
  background-color: #45b6184d;
  color: #45b618;
  font-size: 18px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  border: transparent;
  padding: 0.7rem 2rem;
  margin-right: 2.5rem;
}
#my-job .noti {
  font-size: 8px;
  color: #ffffff;
  background-color: #da1b1b;
  padding: 1px 4px;
  border-radius: 50px;
}
#my-job,
#my-job-projects .text-14px {
  font-size: 14px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#my-job .text-16px {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  font-family: var(--inter);
}
#my-job-projects .btn-pro-job {
  border: 1px solid #80808080;
  margin-right: 1rem;
  color: #808080;
  font-size: 10px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#my-job-projects .btn-pro-job-1 {
  border: transparent;
  margin-right: 1rem;
  color: #45b618;
  background-color: #45b6184d;
  font-size: 10px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#my-job-projects .menu-icon {
  padding: 0.35rem 0.5rem 0.5rem 0.3rem;
  background-color: #fff;
  margin-left: 0.5rem;
}
#my-job-projects h2 {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  font-family: var(--mulish);
  color: #333333;
}
#my-job-projects .project-card {
  border: transparent;
  border-radius: 8px;
  padding: 1rem;
}
#my-job-projects .project-status {
  font-size: 14px;
  color: #14e273;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
#my-job-projects .status-bg {
  background-color: #14e27333;
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
}
#my-job-projects .project-select {
  border: 1px solid #45b618;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1rem 10rem 1rem 1rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-family: var(--mulish);
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
}
#my-job-projects option:checked {
  background: #45b618;
  color: #fff;
}

#my-job-projects .text-12px {
  font-size: 12px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  color: #808080;
}
#my-job-projects .text-16px {
  font-size: 16px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
}
.follow-visit-site-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}
.follow-visit-site-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-followers-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.follow-visit-site-btn .follow__box .follow__btn__ {
  display: none;
}
@media (max-width: 700px) {
  #job-descrip .head {
    font-size: 18px;
  }
  #profile-alljobs .job-time,
  #profile-alljobs .job-level,
  #profile-alljobs .job-price {
    font-size: 10px;
  }
  #profile-alljobs .text-16px {
    font-size: 12px;
  }
  #job-descrip .job-icon {
    font-size: 1rem;
    color: #4f4f4f;
  }

  #job-descrip .text-16px-1 {
    font-size: 14px;
  }
  #job-descrip .head2 {
    font-size: 18px;
  }
  #job-descrip .text-16px-1 {
    font-size: 14px;
  }
  #my-job .btn-2,
  #my-job .btn-1 {
    font-size: 12px;
    margin-right: 0.5rem;
    padding: 0.7rem 1rem;
  }
  #job-descrip .follow-btn {
    font-size: 12px;
    width: 90px;
    height: 40px;
  }
  #job-descrip .web-btn {
    font-size: 12px;
    width: 115px;
    height: 40px;
  }
  #job-descrip #uploaded-image {
    height: 75px;
    width: 75px;
  }
  #job-descrip .cam-label {
    bottom: 1rem;
    right: 1rem;
  }
  #job-descrip #uploaded-cover-image {
    height: 100px;
  }
  #job-descrip .box-cover-upload {
    height: 100px;
  }
}
@media (min-width: 1000px) and (max-width: 1110px) {
  #my-job .btn-2 {
    margin-right: 0.5rem;
  }
}
