.date-time-duration {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.form__-control .date-time-duration .datePickerEventModal, .form__-control .date-time-duration .durationInput{
  width: 200px;
  height: 48px;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.3rem;
}

.form__-control .date-time-duration .durationInput::placeholder {
  color: #bebdbd;
}
.form__-control .date-time-duration .durationInput {
  padding-left: 45px;
}
.durationInput-Box{
  position: relative;
}
.durationInput-Box svg{
  position: absolute;
  top: 18px;
  margin-left: 10px;
}
.form__-control .date-time-duration .datePickerEventModal .ant-picker-suffix {
  position: absolute;
  left: -20px;
  margin-left: 10px;
}
.form__-control
  .date-time-duration
  .datePickerEventModal
  .ant-picker-input
  > input {
  padding-left: 10px;
}
.checkBox__eventModal {
  margin-top: 8px;
}
.checkBox__eventModal span {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-14);
  line-height: 16px;
  color: #767676;
}
.inner__meetingId {
  display: flex;
  align-items: center;
  gap: 10px;
}
.inner__meetingId span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-24);
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #333333;
}
.add__guests__ {
  position: relative;
}
.add__guests__ .addGuests__input {
  padding-right: 100px;
}
.add__guests__ .add_guests-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 26px;
  width: 76px;
  height: 36px;
  background: #cbe1c1;
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-14);
  line-height: 16px;
  margin-right: 12px;
  color: #45b618;
}
.JoinMeetingModal-btn{
  width: 300px;
}
.guestsAdded__box {
  display: flex;
  gap: 8px;
}
.guestsAdded__box .guestsAdded__box-img{
  position: relative;
}
.guestsAdded__box .guestsAdded__box-img svg{
  position: absolute;
  right: 0;
}
.guests__can__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.guests__can__box .guests__can__box-title {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  line-height: 19px;
  color: #333333;
}
.checkBox__eventModal2 {
  position: relative;
  left: -8px;
}
.create_event_modal-btn {
  width: 100%;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-18);
  line-height: 23px;
  color: #ffffff;
}
