form {
    margin: 6rem 0 19.6rem 0;
}
h1.form__title {
    font-size: var(--fs-32);
    font-family: var(--raleway);
    line-height: 4.2rem;
    color: #141414;
    margin-bottom: 4.2rem;
    font-weight: var(--font-wieght-bold);
}
.form__control {
    margin-bottom: 2.4rem;
    width: 100%;
    box-sizing: border-box;
}
.form__control label {
    display: block;
    margin-bottom: .4rem;
    font-weight: var(--font-wieght-semibold);
    font-size: var(--fs-16);
    line-height: 1.9rem;
    font-family: var(--raleway);
    color: #333;
}
.input__box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #D9DAD7;
    border-radius: .4rem;
}
.input__box input {
    width: 95%;
    border: none;
    outline: none;
    margin-right: 2rem;
    height: 4.8rem;
    background-color: transparent;
    padding-left: 2rem;
}
.input__box svg {
    margin-right: 2rem;
    cursor: pointer;
}
.sign-up-options {
    width: 100%;
    margin-bottom: 2.4rem;
}
.sign-up-options p {
    text-align: center;
    font-weight: var(--font-wieght-semibold);
    font-family: var(--raleway);
    font-size: var(--fs-16);
    color: #333;
    margin-bottom: .4rem;

}
.option-buttons {
    /*width: 77%;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.option-buttons button {
    height: 4.8rem;
    padding: 1.6rem 3.2rem;
    border: 1px solid #808080;
    line-height: 1.644rem;
    font-size: var(--fs-14);
    color: #4f4f4f;
    font-weight: var(--font-wieght-semibold);
    white-space: nowrap;
    cursor: pointer;
    margin-top: 10px;
}
/*To delete later*/
.signin__terms {
    width: 100%;
    margin-bottom: 2.4rem;
  }
  .signin__terms label {
    font-family: var(--raleway);
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: var(--font-wieght-semibold);
    line-height: 16px;
    color: #767676;
    
  }
  
  .signin__terms input {
    margin-right: 0.6rem;
  }
  .signin__terms input[type="checkbox"] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
  .signin__terms input[type="checkbox"] {
    display: none;
  }
  
  .signin__terms input[type="checkbox"] + label:before {
    content: "\2714";
    border: 0.1em solid rgba(217, 218, 215, 0.5);
    border-radius: 0.2em;
    display: inline-block;
    background-color: rgba(217, 218, 215, 0.5);
    width: 1.1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  .signin__terms input[type="checkbox"] + label:active:before {
    transform: scale(0);
  }
  
  .signin__terms input[type="checkbox"]:checked + label:before {
    color: #000;
  }
.create__account__button {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: .4rem;
    height: 4.8rem;
    padding: 1.6rem;
    margin-bottom: 3.2rem;
}
.or {
    width: 100%;
    position: relative;
    margin-bottom: 3.2rem;
}
.or:before {
    border-top: 1px solid #767676;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}
.or p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -1.3rem;
    font-family: var(--raleway);
    font-weight: var(--font-wieght-semibold);
    font-size: var(--fs-14);
    line-height: 1.644rem;
    color: #767676;
    text-align: center;
    margin-bottom: 2.4rem;
    z-index: 1;
    background-color: var(--white);
    padding: .5rem 1.6rem;
}
.icon-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icon-btns button {
    width: 100%;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    padding: 1.6rem;
    cursor: pointer;
}
.icon-btns button svg {
    margin-right: 2rem;
}
.icon-btns button span {
    font-size: var(--fs-14);
    color: #000;
    font-family: var(--raleway);
    font-weight: var(--font-wieght-bold);
}
