@import "colours.css";
@import "typography.css";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--montserat);
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
