#postjob h1 {
  font-size: 36px;
  font-weight: var(--font-wieght-bold);
}
#postjob .project-title {
  font-size: 24px;
  font-weight: var(--font-wieght-bold);
  margin-top: 3rem;
}
#postjob p {
  font-size: 16px;
  font-weight: var(--font-wieght-semibold);
  margin-top: 4rem;
}
#postjob li {
  font-size: 16px;
  font-weight: var(--font-wieght-semibold);
  margin-top: 2rem;
  list-style-type: disc;
  color: #767676;
}
#postjob .submit-btn {
  font-size: 18px;
  font-weight: var(--font-wieght-bold);
  color: #fff;
  line-height: 22.59px;
  background-color: var(--primary);
  padding: 1rem 2.5rem;
  text-transform: none;
}
#postjob .back-btn {
  font-size: 18px;
  font-weight: var(--font-wieght-bold);
  color: var(--primary);
  line-height: 22.59px;
  background-color: #45b6184d;
  padding: 1rem 2.5rem;
  margin-left: 8.5rem;
  text-transform: none;
}
#postjob .pills-btn {
  font-weight: var(--font-wieght-bold);
  font-size: 16px;
  color: #767676;
  line-height: 19px;
  background-color: #d9dad780;
  margin: 0 1rem 2rem 0;
  border-radius: 15px;
  text-transform: capitalize;
  font-family: var(--raleway);
}
#postjob .custom-radio {
  position: relative;
  border: 1px solid #0000004d;
  height: 10rem;
  width: 18.5rem;
  border-radius: 5px;
}
#postjob .radio-icon {
  position: absolute;
  top: 2rem;
  right: 8rem;
}
#postjob .form-control:not(active) {
  padding: 1.5rem;
}

@media (max-width: 500px) {
  #postjob .back-btn {
    font-size: 12px;
  }
  #postjob .submit-btn {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  #postjob .back-btn {
    margin-left: 2rem;
  }
  #postjob .project-title {
    font-size: 18px;
  }
  #postjob h1 {
    font-size: 20px;
  }
}
@media (min-width: 200px) and (max-width: 530px) {
  #postjob .custom-radio {
    margin: 0 0 2rem 0 !important;
  }
}
