
.change-password__inner {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 329px;
  margin-top: 80px;
}

.change-account-pswrd {
  width: 100%;
  text-align: right;
  margin-top: 3.2rem;
  font-size: var(--fs-14);
  line-height: 1.644rem;
  font-weight: var(--font-wieght-semibold);
  font-family: var(--raleway);
  color: #767676;
}
.change-account-pswrd a {
  font-weight: var(--font-wieght-semibold);
  font-family: var(--raleway);
  font-style: normal;
  font-size: var(--fs-14);
  line-height: 16px;
  color: #767676;
}
.change-password__image,
.change-password__form {
  width: 100%;
}
.change-password__image img {
  width: 685px;
  height: 510.41px;
}
@media screen and (max-width: 767px) {
  .change-password__image {
    display: none;
  }
}
