.log-in{
    margin-bottom: 20px;
}
.log-in__inner {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.dont-have-account {
  width: 100%;
  text-align: right;
  margin-top: 3.2rem;
  font-size: var(--fs-14);
  line-height: 1.644rem;
  font-weight: var(--font-wieght-semibold);
  font-family: var(--raleway);
  color: #767676;
}
.dont-have-account a {
  color: var(--primary);
}
.log-in__image, .log-in__form {
  width: 100%;
}
.log-in__image img {
  width: 80%;
}
@media screen and (max-width: 767px){
    .log-in__image {
        display: none;
      }
}