.log-in__inner {
  width: 100%;
  display: flex;
}
.already-have-account {
  width: 100%;
  text-align: right;
  margin-top: 3.2rem;
  font-size: var(--fs-14);
  line-height: 1.644rem;
  font-weight: var(--font-wieght-semibold);
  font-family: var(--raleway);
  color: #767676;
}
.already-have-account a {
  color: var(--primary);
}
.log-in__form{
  width: 100%;
}
.log-in__image {
  width: 100%;
  margin-right: 5rem;}
  @media screen and (max-width: 767px) {
    .log-in__image {
      display: none;
    }
  }
.log-in__image img {
  width: 100%;
  object-fit: cover;
}