.password-reset-success {
  margin-bottom: 20px;
}
.password-reset-success__inner {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}
.password-reset-success-box {
  max-width: 628px;
  margin: auto;
  height: 392px;
  background: var(--white);
  border: 1px solid rgba(189, 189, 189, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.success__title.h1 {
  font-size: var(--fs-36);
  font-family: var(--raleway);
  line-height: 4.2rem;
  color: #141414;
  margin-bottom: 3rem;
  font-weight: var(--font-wieght-bold);
}
.password-reset-success-box p {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  margin-bottom: 3.5rem;
  line-height: 19px;
  color: #767676;
}
.change__account__pswrd__success__btn {
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  outline: none;
  border: none;
  width: 187px;
  border-radius: 0.4rem;
  height: 4.8rem;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-14);
  line-height: 16px;
}
