.side-nav-steppers {
    background: rgba(217, 218, 215, 0.2);
    padding: 2.4rem;
}
.brand-side-nav-steppers {
    background: rgba(217, 218, 215, 0.2);
    padding: 2.4rem;
}
.steppers__title {
    font-family: var(--raleway);
    font-style: normal;
    font-weight: var(--font-wieght-semibold);
    font-size: 18px;
    line-height: 21px;
    color: #141414;
    margin-bottom: 2.4rem;
}
.side-nav-steppers-out {
    display: block !important;
}
.brand-side-nav-steppers-out {
    display: block !important;
}

@media screen and (max-width: 1100px) {
    .side-nav-steppers {
        display: none;
    }
    .brand-side-nav-steppers {
        display: none;
    }
}