.stories__modal {
  background-color: var(--secondary);
  padding-left: 40px;
  padding-right: 40px;
}
.stories__modal .storiesModal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stories__modal .modal_-_channelHead {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-36);
  line-height: 45px;
  color: #ffffff;
}
.storiesSlider {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.storiesSlider .storiesSlider-left {
  position: relative;
  width: 100%;
}
.storiesSlider .storiesSlider-left svg {
  position: absolute;
  right: 80px;
  top: 24px;
}
.storiesSlider .inn-storiesSlider-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  gap: 32px;
}

.storiesSlider .inn-storiesSlider-left .stories__display,
.storiesSlider .inn-storiesSlider-right .stories__display {
  width: 100%;
  min-height: 315px;
  border-radius: 10px;
  position: relative;
  background-color: #C4C4C4;
}

.storiesSlider .inn-storiesSlider-left .stories__display .storyBackground-img,
.storiesSlider .inn-storiesSlider-right .stories__display .storyBackground-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.storiesSlider .inn-storiesSlider-left .stories__display .story__avatar-img,
.storiesSlider .inn-storiesSlider-right .stories__display .story__avatar-img {
  max-width: 100%;
}
.storiesSlider .inn-storiesSlider-left .stories__display .stories__display-top,
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-top {
  margin-top: 24px;
  position: relative;
}

.storiesSlider
  .inn-storiesSlider-left
  .stories__display
  .stories__display-top
  .stories__display-top-name-time,
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-top
  .stories__display-top-name-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.storiesSlider
  .inn-storiesSlider-left
  .stories__display
  .stories__display-top
  .stories__display-top-name-time
  span:nth-child(1),
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-top
  .stories__display-top-name-time
  span:nth-child(1) {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 18px;
  color: var(--white);
}
.storiesSlider
  .inn-storiesSlider-left
  .stories__display
  .stories__display-top
  .stories__display-top-name-time
  span:nth-child(2),
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-top
  .stories__display-top-name-time
  span:nth-child(2) {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-12);
  line-height: 15px;
  color: var(--white);
}
.storiesSlider
  .inn-storiesSlider-left
  .stories__display
  .stories__display-bottom,
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  position: relative;
}
.storiesSlider
  .inn-storiesSlider-left
  .stories__display
  .stories__display-bottom
  .storiesAvatar-_-,
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-bottom
  .storiesAvatar-_- {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.storiesSlider
  .inn-storiesSlider-left
  .stories__display
  .stories__display-bottom
  .storiesAvatar-_-
  img,
.storiesSlider
  .inn-storiesSlider-right
  .stories__display
  .stories__display-bottom
  .storiesAvatar-_-
  img {
  border: 3px solid var(--primary);
  border-radius: 50%;
}
.storiesSlider .storiesSlider-show {
  width: 850px;
  min-height: 500px;
  background-color: #C4C4C4;
  border-radius: 8px;
  position: relative;
}
.storiesSlider .inn__storiesSlider-show {
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 32px; */
}
.storiesSlider .storiesSlider-show img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.storiesSlider .storiesSlider-show .story__progressBar {
  margin-bottom: 16px;
  position: relative;
}
.storiesSlider .storiesSlider-show .story__progressBar .inn-story__progressbar {
  background: #c4c4c4;
  border-radius: 4px;
  height: 4px;
}
.storiesSlider .storiesSlider-show .story__progressBar .inn-story__progressbar .progress-bar {
  background: #FFFFFF;
}
.storiesSlider .storiesSlider-show .story_-_avatar-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  /* width: 100%; */
  position: relative;
}
.storiesSlider .storiesSlider-show .story_-_avatar-name span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 18px;
  color: var(--white);
}
.storiesSlider .storiesSlider-show .story_-_avatar-name img {
  width: 36px;
  height: 36px;
  position: relative;
}
.storiesSlider .storiesSlider-show .storiesSlider-show-_-bottom {
  width: 100%;
  display: flex;
  min-height: 400px;
  position: relative;
}
.storiesSlider
  .storiesSlider-show
  .storiesSlider-show-_-bottom
  .storiesSlider-show-_-input__bottom {
  width: 100%;
  align-self: flex-end;
}
.storiesSlider
  .storiesSlider-show
  .storiesSlider-show-_-bottom
  .storiesSlider-show-_-input__bottom
  svg {
  float: right;
  position: relative;
  top: -33px;
  left: -14px;
}
.storiesSlider
  .storiesSlider-show
  .storiesSlider-show-_-bottom
  .storiesSlider-show-_-input__bottom
  input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-right: 45px;
  color: var(--white);
}
.storiesSlider
  .storiesSlider-show
  .storiesSlider-show-_-bottom
  .storiesSlider-show-_-input__bottom
  input::placeholder {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-16);
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--white);
}
.storiesSlider .storiesSlider-right {
  position: relative;
  width: 100%;
}

.storiesSlider .storiesSlider-right svg {
  position: absolute;
  margin-left: 80px;
  top: 24px;
}
.storiesSlider .inn-storiesSlider-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  min-height: 500px;
}
