.stories__modal {
  background-color: var(--secondary);
  padding-left: 40px;
  padding-right: 40px;
}
.stories__modal .storiesModal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stories__modal .modal_-_channelHead {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-36);
  line-height: 45px;
  color: #ffffff;
}
.storiesSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stories__data {
  width: 100%;
  height: 768px;
  position: relative;
}
.stories__data img {
  width: 100%;
  height: 768px;
  /* position: absolute; */
}
.stories__data .stories__data__top {
  width: 100%;
  top: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 12px;
}
.stories__data .stories__data__top img {
  width: 45.7px;
  height: 45.25px;
}
.stories__data__top__name__timep {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.stories__data__top__name__timep span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.stories__data__top__name__timep span:nth-child(2) {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
