header {
    background-color: var(--white);
}
.header__inner {
    height: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 10rem;
    height: 4rem;
    background-color: var(--primary);
    color: var(--white);
}
.header__inner ul {
    display: flex;
    align-items: center;
}
.header__inner ul li {
    margin-right: 3rem;
}
.header__inner ul li:last-child {
    margin-right: 0;
}
.header__inner ul li a {
    font-size: var(--fs-18);
    color: var(--secondary);
    display: flex;
    align-items: center;
    font-family: var(--mulish);
}
.header__inner ul li a svg {
    margin-right: 1rem;
}
.links a {
    height: 4.3rem;
    width: 8.6rem;
    padding: 1rem;
    margin-right: 1rem;
    font-size: var(--fs-18);
    line-height: 2.3rem;
    color: var(--primary);
    font-family: mulish;
    font-weight: var(--font-wieght-bold);
    border-radius: .4rem;
}
.links a:last-child {
    margin-right: 0;
    background-color: var(--primary);
    color: var(--white);
}
.hamburger {
    fill: var(--primary);
    display: none;
}

@media screen and (max-width: 1100px){
    .header__inner ul,
    .links {
        display: none;
    }
    .hamburger {
        display: block;
    }
}