header {
  width: 100%;
  padding: 20px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  height: 50px;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.logo img {
  width: 28px;
  margin-right: 12px;
}
.logo span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}
.header__inner ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  margin-right: auto;
}
.header__inner ul li {
  margin-right: 33px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.header__inner ul li:last-child {
  margin-right: 0;
}
.header__inner ul li svg {
  margin-right: 10px;
}
.header__inner ul li a {
  text-decoration: none;
  color: #333;
}
.header__inner ul li a:hover {
  text-decoration: none;
}
.search-box {
  padding: 12px 16px;
  background: #f8f8f8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: auto;
}
.search-box svg {
  margin-right: 12px;
}
.search-box input {
  width: 100%;
  outline: none;
  border: none;
  background-color: inherit;
  font-family: var(--lato);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}
.search-box input::placeholder {
  font-family: var(--lato);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}
a.auth {
  padding: 10px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-right: 14px;
  outline: none;
  border: none;
}
a.auth:last-child {
  margin-right: 0;
}
a.login {
  background-color: transparent;
  color: #45b618;
}
a.sign-up {
  background-color: #45b618;
  color: var(--white);
}
.notification {
  margin-right: 37px;
}
.user {
  display: flex;
  align-items: center;
}
.notification {
  width: 14px;
  height: 16px;
  position: relative;
}
.notification-circle {
  padding: 4px;
  background-color: var(--white);
}
.notification-circle__inner {
  width: 6px;
  height: 6px;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -2px;
}
.user-avatar-and-name {
  display: flex;
  align-items: center;
}
.user-avatar {
  width: 44px;
  height: 44px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}
.user-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p.user-name__name {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #333333;
  margin-bottom: 0;
}
.user-status {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #45b618;
  margin-bottom: 0;
}
.hamburger-menu {
  cursor: pointer;
  display: none;
}
.hamburger-menu svg {
  fill: var(--primary);
}
.language-selection-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  background-color: white;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  height: auto !important;
}
.language-selection-dropdown li {
  margin: 0 0 3px 0 !important;
  padding: 10px 20px;
  border-radius: 5px;
}
.language-selection-dropdown li:hover {
  background-color: var(--primary);
  color: var(--white) !important;
}
.language-selection__language {
  display: flex;
  align-items: center;
}
.container-logged-in {
  width: 95%;
}

@media screen and (max-width: 1200px) {
  .header__inner {
    /*justify-content: space-between;*/
  }
  .logo {
    margin-right: auto;
  }
  .header__inner ul,
  .auth-buttons {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .search-box {
    display: none;
  }
  .user-name {
    display: none;
  }
  .notification {
    margin-right: 12px;
  }
}
