header {
  background-color: var(--white);
}
.header__inner {
  width: 100%;
  height: 7.2rem;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-right: 32px;
}
.logo img {
  width: 28px;
  height: 26.11px;
}
.logo h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-24);
  line-height: 30px;
  color: var(--secondary);
}
.header-before-login ul {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header__inner ul li {
  margin-right: 3rem;
}
.header__inner ul li:last-child {
  margin-right: 0;
}
.header__inner ul li a,
.language {
  font-size: var(--fs-18);
  color: var(--secondary);
  display: flex;
  align-items: center;
  font-family: var(--mulish);
  text-decoration: none;
}
.mobile-sign-in-link {
  width: 100%;
  position: relative;
  left: 30px;
  display: none;
}
.mobile-sign-in-link a {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-14);
  line-height: 21px;
  text-align: center;
  color: #4F4F4F;
}
.language {
  cursor: pointer;
  position: relative;
}
.header__inner ul li a svg {
  margin-right: 1rem;
}
.links a {
  height: 4.3rem;
  width: 8.6rem;
  padding: 1rem;
  margin-right: 1rem;
  font-size: var(--fs-18);
  line-height: 2.3rem;
  color: var(--primary);
  font-family: var(--mulish);
  font-weight: var(--font-wieght-bold);
  border-radius: 0.4rem;
  text-decoration: none;
}
.links a:last-child {
  margin-right: 0;
  background-color: var(--primary);
  color: var(--white);
}
.hamburger {
  fill: var(--primary);
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .header__inner ul,
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.dropDownLanguage {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 48%;
  z-index: 10;
  top: 60px;
  width: 248px;
  height: 327px;
  background: #ffffff;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  padding: 24px;
  /* transform: translateY(-20px); */
  /* transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s; */
}
@media screen and (max-width: 1100px) {
  .dropDownLanguage {
    display: none;
  }
}
.dropDownLanguage.active {
  opacity: 1;
  visibility: visible;
  /* transform: translateY(0); */
}

.dropDownLanguage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropDownLanguage li a {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  height: 56px;
  border-radius: 8px;
  text-align: center;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 20px;
  color: var(--secondary);
  letter-spacing: 0.2px;
  margin-bottom: 2px;
}
.dropDownLanguage li .activeLink {
  background-color: var(--primary);
  color: var(--white);
}
.dropDownLanguage li a:hover {
  background-color: var(--primary);
  color: var(--white);
}
.nav-pro-head {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 24px;
  color: #333333;
}
.nav-text-pro {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.6;
}
.search__container-pro {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__container-pro input {
  background: #f8f8f8;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 20px;
  padding-left: 53px;
  font-family: var(--lato);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 16px;
  color: #4f4f4f;
  border: none;
  outline: none;
}
.search__container-pro svg {
  position: relative;
  left: 35px;
}
.search__container {
  width: 738px;
  margin-left: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__container input {
  background: #f8f8f8;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 20px;
  padding-left: 53px;
  font-family: var(--lato);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 16px;
  color: #4f4f4f;
  border: none;
  outline: none;
}
.search__container svg {
  position: relative;
  left: 35px;
}
header .header-after-login {
  display: flex;
  justify-content: space-between;
  padding-left: 34.78px;
  padding-right: 32px;
  padding: 24px;
}
.header-before-login {
  display: flex;
  width: 100%;
}
.dashboard-avatar-name-notify {
  width: 194px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notification {
  margin-right: 34px;
}
.dashboard-avatar-name-notify .circleNotification {
  position: absolute;
  margin-left: -5px;
}
.avatarImg {
  margin-right: 12px;
}
.avatarImg img {
  width: 44px;
  height: 44px;
}

.dashboard__name h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-14);
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--secondary);
}
.dashboard__name p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-10);
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

/* Language selection styling */
.language-selection {
  position: relative;
}
.language-selection-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  background-color: white;

  z-index: 1000;
  padding: 10px;
  left: 0;
  border-radius: 5px;
}
.language-selection-dropdown li {
  margin: 0 0 3px 0 !important;
  padding: 5px 20px;
  border-radius: 10px;
}
.language-selection-dropdown li:hover {
  background-color: var(--primary);
  color: var(--white) !important;
}