.sidecheck-bg-1 {
  background: #45b61833;
  padding: 2rem 1rem;
}
.sidecheck-head {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}
.sidecheck-btn {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  color: #fff;
  line-height: 14.09px;
  background-color: var(--primary);
  padding: 1rem;
  text-transform: none;
  border: 5px;
}
.sidecheck-btn:hover {
  background-color: var(--primary);
}
.sidecheck-numb {
  background-color: #083eb133;
  color: #083eb1;
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  font-size: 12px;
}
