.sidecheck-bg-1 {
  background: #45b61833;
  padding: 2rem 1rem;
}
.sidecheck-bg-2 {
  background: #d9dad780;
  padding: 2rem 1rem;
}
.sidecheck-head {
  font-size: 16px;
  font-weight: var(--font-wieght-bold);
}
.sidecheck-btn {
  font-size: 12px;
  font-weight: var(--font-wieght-bold);
  color: #fff;
  line-height: 14.09px;
  background-color: var(--primary);
  padding: 1rem;
  text-transform: none;
  border: 5px;
  border-radius: 4px;
}
.sidecheck-btn:hover {
  background-color: var(--primary);
}
.sidecheck-numb {
  background-color: #083eb133;
  color: #083eb1;
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  font-size: 12px;
  align-self: center;
}
.btn-apply-filter {
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #45b618;
  border-radius: 4px;
  width: 335px;
  height: 42px;
  border: transparent;
  margin-top: 2rem;
}
@media (max-width: 990px) {
  .sidecheck-numb {
    margin-left: 13rem;
  }
}
