.home-two {
  margin-top: 40px;
}
.home-two-title h2 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-48);
  line-height: 64px;
  color: #164d00;
}
.popular-service-text__title {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: 4rem;
  line-height: 5.4rem;
  color: #164d00;
  margin-bottom: 3.2rem;
}
.secure-payment-section {
  background-color: #f9fafc;
  
}
.inner__secure-payment-section {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32.25px;
  gap: 70px;
}
.secure-payment-section-img{
  width: 495px;
  height: 536px;
}
.secure-payment-section-img img{
  width: 495px;
  height: 536px;
}
.secure-payment-text{
  width: 512px;
}
.secure-payment-text .popular-service-subtitle__title {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 800;
  font-size: var(--fs-30);
  line-height: 54px;
  color: #164d00;
}
.secure-payment-section-img img {
  width: 100%;
}
.card-title h2 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-24);
  line-height: 32px;
  color: var(--primary);
}
.card-article {
  margin-top: 12px;
}
.card-article p {
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-16);
  line-height: 26px;
  color: #18191f;
}
.home-two-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 64px;
  gap: 95px;
}
.home-two-card {
  padding: 40px 32px;
  max-width: 350px;
  min-height: 290px;
  background-color: var(--white);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.card-icon {
  margin-bottom: 41.44px;
}
.popular-service-title {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-48);
  line-height: 64px;
  color: #164d00;
  margin-bottom: 26px;
}
.our-top-freelancers {
  margin-bottom: 64px;
  margin-top: 64px;
}
.inner-our-top-freelancers {
  height: 300px;
}
.our-top-freelancers-header h2 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-48);
  line-height: 64px;
  color: #164d00;
}
.catalogue .inn-catalogue {
  margin-top: 40px;
  padding-bottom: 40px;
}
.catalogue .inn-catalogue h2 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-48);
  line-height: 64px;
  color: #164d00;
}
.catalogue .inn-catalogue .catalogue-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 59px;
}
.catalogue .inn-catalogue .catalogue-list div {
  display: flex;
  flex-direction: column;
  gap: 15.89px;
}
.catalogue .inn-catalogue .catalogue-list div span {
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-16);
  line-height: 26px;
  color: #18191f;
}
