.main-section {
    margin-top: 6.4rem;
}
.get-access {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.4rem;
}
.get-access-title {
    font-family: var(--mulish);
    font-style: normal;
    font-weight: var(--font-wieght-extrabold);
    font-size: 3.6rem;
    line-height: 5.6rem;
    text-align: center;
    color: #141414;
    max-width: 57.8rem;
    margin-bottom: 4rem;
}
.list-of-talents {
    display: flex;
    gap: 3.5rem;
    width: 100%;
    overflow-x: auto;
    padding: .5rem;
}

.list-of-talents::-webkit-scrollbar {
    width: 0.7em;
    background: white;
}
.list-of-talents::-webkit-scrollbar-thumb {
    background: transparent;
    height: 1px;
}

.list-of-talents::-webkit-scrollbar-track-piece {
    display:none;
}
.looking-for-talent {
    display: flex;
    align-items: center;
    padding: 6.4rem 0;
    gap: 7.8rem;
}
.looking-for-talent-image {
    width: 50%;
}
.looking-for-talent-text {
    width: 50%;
}
.looking-for-talent-image img {
    width: 100%;
    object-fit: cover;
}
.looking-for-talent-text__title {
    font-family: var(--inter);
    font-style: normal;
    font-weight: var(--font-wieght-extrabold);
    font-size: 4rem;
    line-height: 5.4rem;
    color: #18191F;
    margin-bottom: 3.2rem;
}
.looking-for-talent-text__subtitle {
    font-family: var(--inter);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--fs-18);
    line-height: 3.2rem;
    color: #18191F;
    margin-bottom: 3.2rem;
}
.looking-for-talent-button {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.looking-for-talent-button span {
    font-family: var(--inter);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    font-size: var(--fs-16);
    line-height: 2.4rem;
    color: #45B618;
    margin-right: .9rem;
}
.looking-for-talent-button:hover svg {
    transform: translateX(.5rem);
    transition: transform .3s ease;
}