.reset-password__inner {
  display: grid;
  grid-template-columns: 68.5rem 1fr;
  grid-column-gap: 5rem;
  margin-top: 81px;
  margin-bottom: 226px;
  justify-content: space-between;
}
h1.reset-password-form__title {
  font-size: var(--fs-32);
  font-family: var(--raleway);
  line-height: 4.2rem;
  color: #141414;
  margin-bottom: 1.2rem;
  font-weight: var(--font-wieght-bold);
}
.reset-password__image img {
  width: 685px;
  height: 612.2px;
}
.reset-password-form__subtitle {
  max-width: 429px;
  font-weight: var(--font-wieght-semibold);
  font-family: var(--raleway);
  font-size: var(--fs-16);
  line-height: 1.878rem;
  color: #767676;
  margin-bottom: 3.2rem;
}
.reset-password-form__control {
  margin-bottom: 3.2rem;
  width: 100%;
}
.reset-password-form__control label {
  display: block;
  margin-bottom: 0.4rem;
  color: #333;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  line-height: 1.9rem;
}
.reset-password-form__control input {
  width: 452px;
  height: 48px;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 4px;
  padding-left: 1rem;
  outline: none;
  border: none;
}
.reset-password-submit__button {
  width: 129px;
  height: 48px;
  background-color: #45b618;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--white);
  font-family: var(--raleway);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 1.6rem;
  cursor: pointer;
}
