.jobs-view-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobs-view-head h2 {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-48);
  line-height: 56px;
  color: var(--secondary);
}
.jobs-view-head p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-24);
  line-height: 30px;
  color: var(--secondary);
}
.jobs-view-head2 {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 670px;
  margin-top: 27px;
  margin-bottom: 32px;
}
.jobs-view-head2 div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.jobs-view-head2 div p {
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-16);
  line-height: 19px;
  color: #808080;
}
.jobs-view-social-btn {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.jobs-view-social-btn button {
  width: 109px;
  height: 56px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.top-jobs-view{
  margin-bottom: 120px;
}
.top-jobs-view-article {
  margin-bottom: 32px;
}
.top-jobs-view-article h2 {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-24);
  line-height: 28px;
  color: var(--secondary);
  margin-bottom: 16px;
}
.top-jobs-view-article p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  line-height: 20px;
  color: var(--secondary);
}
.jobs-view-apply-btn {
  display: flex;
  justify-content: flex-end;
}
.jobs-view-apply-btn button {
  width: 83px;
  height: 39px;
  background-color: var(--primary);
  border-radius: 4px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: var(--fs-16);
  line-height: 23px;
  color: var(--white);
  outline: none;
  cursor: pointer;
  border: none;
}
