.b-step {
  width: 740px;
}
.b-step-title {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-bold);
  font-size: 36px;
  line-height: 42px;
  color: #141414;
  margin-bottom: 4rem;
}
.b-step form {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.b-step form .vangold-input {
  width: 100%;
}
.b-step form .vangold-input label {
  display: block;
  margin-bottom: 0.4rem;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.b-step form .vangold-input input {
  width: 740px;
  height: 48px;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 1rem;
}
.b-step form .email,
.b-step form .linkedin-profile {
  grid-column: 1/-1;
}
.upload-passport {
  margin-bottom: 11.3rem;
}
.upload-passport label {
  display: block;
  margin-bottom: 0.4rem;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.upload-passport .file > input[type="file"] {
  display: none;
}

.upload-passport .file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: rgba(217, 218, 215, 0.5);
  border: none;
  width: 225px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-passport .file > label:hover {
  background-color: rgba(217, 218, 215, 0.8);
}

.upload-passport .file > label .PassportPic {
  width: 58px;
  height: 58px;
  position: absolute;
  border-radius: 10px;
}

.b-step-subtitle {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 16px;
  display: block;
}
.b-step textarea {
  width: 740px;
  height: 300px;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 4px;
  border: none;
  outline: none;
  resize: none;
  padding: 1em;
  margin-bottom: 150px;
}
.location-br-select {
  display: flex;
  gap: 40px;
  margin-bottom: 8px;
}
.location-p {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-14);
  line-height: 16px;
  color: #808080;
}
.br-location-form{
  margin-top: 24px;
  margin-bottom: 80px;
}
