.select-input-component {
    width: 100%;
    user-select: none;
}
.select-input-button {
    height: 100%;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 1.8rem 1.6rem;*/
    font-family: var(--raleway);
    font-weight: var(--font-weight-medium);
    font-size: var(--fs-16);
    line-height: 1.9rem;
    color: #141414;
    border-radius: .4rem;
    padding: 0 1.6rem;
    cursor: pointer;
}
.select-input-dropdown {
    position: absolute;
    top: 103%;
    background-color: var(--white);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    padding: 2rem;
    border-radius: .8rem;
}
.select-input__categories {
    width: min-content;
    position: relative;
    display: flex;
    gap: 1rem;
}
.categories__category {
    margin-bottom: 9rem;
}
.categories__subcategories {
    position: absolute;
    left: 103%;
}
.categories__title {
    font-family: var(--mulish);
    font-weight: var(--font-wieght-bold);
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    padding: 1.2rem;
}
.categories__category ul li {
    width: 336px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease;
 }
.categories__category ul li:hover {
    background-color: var(--primary);
}
.categories__category ul li:hover .category__name {
    color: var(--white);
}
.categories__category ul li:hover svg path {
    fill: var(--white);
}
.category__name {
    font-family: var(--mulish);
    font-weight: var(--font-weight-normal);
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.select-input__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.1rem 3.2rem;
}
.btns {
    font-family: var(--raleway);
    font-weight: var(--font-weight-medium);
    font-size: var(--fs-16);
    line-height: 19px;
    color: #141414;
    width: 75px;
    height: 39px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btns:hover {
    background-color: var(--primary);
    color: var(--white);
}