.step-title {
    font-family: var(--raleway);
    font-style: normal;
    font-weight: var(--font-wieght-bold);
    font-size: 36px;
    line-height: 42px;
    color: #141414;
    margin-bottom: 4rem;
}
.step form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 2.4rem;
    margin-bottom: 2.4rem;
}
.step form .form-control {
    width: 100%;
}
.step form .form-control label {
    display: block;
    margin-bottom: .4rem;
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.step form .form-control input {
    width: 100%;
    height: 48px;
    background: rgba(217, 218, 215, 0.5);
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 1rem;
}
.step form .email,
.step form .linkedin-profile{
    grid-column: 1/-1;
}
.upload-passport {
    margin-bottom: 11.3rem;
}
.step-subtitle {
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 16px;
    display: block;
}
.step textarea {
    width: 100%;
    height: 300px;
    background: rgba(217, 218, 215, 0.5);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 1em;
    margin-bottom: 150px;
}