.home {
  width: 100%;
}
.page__title__inner {
  margin-top: 3.8rem;
}
.collaborate-text2 {
  max-width: 646px;
}
.collaborate.collaborate2 {
  padding-top: 100px;
  padding-bottom: 80px;
  margin-top: 110px;
}
.collaborate__inner2 {
  display: flex;
  align-items: center;
  gap: 81px;
  justify-content: space-between;
}
.collaborate-text__title2 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  color: var(--primary);
  font-size: var(--fs-48);
  line-height: 64px;
  margin-bottom: 3.2rem;
  max-width: 500px;
}
.collaborate-text__subtitle2 {
  max-width: 540px;
}
.collaborate-text__title2 strong {
  color: var(--secondary);
}
.collaborate-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  width: 154px;
  height: 48px;
  background-color: var(--primary);
  text-align: center;
  outline: none;
  border: none;
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-16);
  line-height: 24px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  color: var(--white);
}
.collaborate-image2 {
  max-width: 646px;
}
.collaborate-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(69, 182, 24, 0.15);
}

.pulse {
  position: relative;
  width: 85px;
  height: 85px;
  /* background-color: white; */
  border-radius: 50%;
  /* left: 200px;
  margin-top: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse span {
  position: absolute;
  top: 0;
  left: 0;
  background: green;
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  animation: animate 2.5s linear infinite;
}
.pulse span.one {
  animation-delay: calc(-0.5s * 1);
}
.pulse span.two {
  animation-delay: calc(-0.5s * 2);
}
.pulse span.three {
  animation-delay: calc(-0.5s * 3);
}
.pulse span.four {
  animation-delay: calc(-0.5s * 4);
}
.pulse span.five {
  animation-delay: calc(-0.5s * 5);
}

.glowinglogo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10000;
}

.glowinglogo img {
  width: 32px;
  height: 29.84px;
}

@keyframes anim {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes animate {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  90% {
    transform: scale(3);
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.collaborate-image2 .Ellipse1477 {
  max-width: 175px;
  height: 175px;
  position: relative;
  top: 90px;
  left: -60px;
}
.collaborate-image2 .Ellipse1478 {
  max-width: 175px;
  height: 175px;
  position: relative;
  top: -90px;
  left: 60px;
  float: right;
}

.collaborate-image2:hover .Ellipse1477,
.collaborate-image2:hover .Ellipse1478 {
  transform: scale(1.1);
  transition: all 0.9s ease-in-out;
}
.get-notify-banner {
  max-width: 887px;
  margin: auto;
  padding: 8rem 0;
  background-color: var(--white);
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.get-notify-banner .getNotifyBannerPara1 {
  color: var(--primary);
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-36);
  line-height: 48px;
  max-width: 75.7rem;
  margin: 0 auto 4rem auto;
}
.get-notify-banner .getNotifyBannerPara2 {
  color: var(--secondary);
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-36);
  line-height: 48px;
  max-width: 75.7rem;
}
.get-notify-banner .getNotifyBannerPara3 {
  
  color: #18191f;
  font-size: var(--fs-16);
  line-height: 32px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
}
.getNotifyInput {
  margin-top: 24px;
  width: 100%;
  position: relative;
}
.getNotifyInput input {
  width: 100%;
  height: 64px;
  background: #f9fafc;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-left: 20px;
}
.getNotifyInput input::placeholder {
  color: #4f4f4f;
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-14);
  line-height: 17px;
}
.getNotifyInput button {
  padding: 12px 32px;
  border-radius: 6px;
  background-color: var(--primary);
  font-family: var(--inter);
  color: var(--white);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-16);
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  float: right;
  position: relative;
  top: -56px;
  left: -10px;
}
.getNotifyInput form .invalid-feedback{
  position: absolute;
  text-align: left;
}
.getNotifyInput form .form-control.is-invalid, .was-validated .form-control:invalid{
  background-image: none !important;
}