.page__title__inner {
  margin-top: 3.8rem;
}
.collaborate-text2 {
  max-width: 646px;
}
.collaborate.collaborate2 {
  padding-top: 180px;
  padding-bottom: 80px;
}
.collaborate__inner2 {
  display: flex;
  align-items: center;
  gap: 81px;
  justify-content: space-between;
}
.collaborate-text__title2 {
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  color: var(--primary);
  font-size: var(--fs-48);
  line-height: 64px;
  margin-bottom: 3.2rem;
  max-width: 500px;
}
.collaborate-text__subtitle2{
  width: 540px;
}
.collaborate-text__title2 strong {
  color: var(--secondary);
  font-size: var(--fs-48);
}
.collaborate-button2 {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  width: 154px;
  height: 48px;
  background-color: var(--primary);
  text-align: center;
  outline: none;
  border: none;
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-16);
  line-height: 24px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  color: var(--white);
}
.collaborate-image2 {
  display: flex;
  justify-content: flex-end;
  max-width: 646px;
}
.inner-collaborate-image2 {
  margin-bottom: 100px;
}
.inner-collaborate-image2 .EllipseGr {
  width: 350px;
  height: 350px;
  position: relative;
}
.inner-collaborate-image2:hover .EllipseGr {
  transform: rotate(360deg);
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out 0s;
}
.inner-collaborate-image2 .Ellipse1477,
.inner-collaborate-image2 .Ellipse1478 {
  width: 175px;
  height: 175px;
  position: absolute;
}
.inner-collaborate-image2 .Ellipse1477 {
  margin-left: -29%;
  margin-top: -90px;
}
.inner-collaborate-image2 .Ellipse1478 {
  margin-left: -10%;
  margin-top: 20%;
}
.inner-collaborate-image2:hover .Ellipse1477,
.inner-collaborate-image2:hover .Ellipse1478 {
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
}

.get-notify-banner {
  max-width: 887px;
  margin: auto;
  padding: 8rem 0;
  background-color: var(--white);
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-notify-banner .getNotifyBannerPara1 {
  color: var(--primary);
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-36);
  line-height: 48px;
  max-width: 75.7rem;
  margin: 0 auto 4rem auto;
}
.get-notify-banner .getNotifyBannerPara2 {
  color: var(--secondary);
  font-family: var(--inter);
  font-style: normal;
  font-weight: var(--font-wieght-extrabold);
  font-size: var(--fs-36);
  line-height: 48px;
  max-width: 75.7rem;
}
.get-notify-banner .getNotifyBannerPara3 {
  color: #18191f;
  font-size: var(--fs-16);
  line-height: 32px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
}
.getNotifyInput {
  margin-top: 24px;
}
.getNotifyInput input {
  width: 887px;
  height: 64px;
  background: #f9fafc;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-left: 20px;
}
.getNotifyInput input::placeholder {
  color: #4f4f4f;
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-14);
  line-height: 17px;
}
.getNotifyInput button {
  padding: 12px 32px;
  border-radius: 6px;
  background-color: var(--primary);
  font-family: var(--inter);
  color: var(--white);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-16);
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  float: right;
  position: relative;
  top: -56px;
  left: -10px;
}
