.change-password__form{
  max-width: 452px;
}
.change-password__form .form__control {
  width: 452px;
  margin-bottom: 24px;
}

.change-password__form .form__title {
  max-width: 429px;
}
.change-password__form .form__title h1 {
  font-size: var(--fs-32);
  font-family: var(--raleway);
  line-height: 4.2rem;
  color: #141414;
  margin-bottom: 3rem;
  font-weight: var(--font-wieght-bold);
}
.change-password__form .form__title p {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-14);
  margin-bottom: 3.5rem;
  line-height: 16px;
  color: #767676;
}
.change-password__form .form__control {
  margin-bottom: 2.4rem;
  width: 100%;
  box-sizing: border-box;
}
.change-password__form .form__control label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-16);
  line-height: 1.9rem;
  font-family: var(--raleway);
  color: #333;
}

.change-password__form .input__box input {
  width: 452px;
  height: 48px;
  border: none;
  outline: none;
  margin-right: 2rem;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 4px;
  padding-left: 2rem;
}
.change-password__form .input__box svg {
  margin-right: 2rem;
  cursor: pointer;
}
.Change__account__pswrd__button {
  width: 187px;
  height: 48px;
  background: var(--primary);
  border-radius: 4px;
  font-family: var(--raleway);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 16px;
  color: var(--white);
  border: none;
  cursor: pointer;
}