.sign-up{
    margin-bottom: 198px;
}
.sign-up__inner {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 60px;
}
.already-have-account {
    width: 100%;
    text-align: right;
    margin-top: 3.2rem;
    font-size: var(--fs-14);
    line-height: 1.644rem;
    font-weight: var(--font-wieght-semibold);
    font-family: var(--raleway);
    color: #767676;
}
.already-have-account a {
    color: var(--primary);
}
.sign-up__image, .sign-up__form {
    width: 100%;
}
.sign-up__image img {
    max-width: 685px;
    height: 593.14px;    
}
@media screen and (max-width: 767px){
    .sign-up__image{
        display: none;
    }
}