#profile-dash .bg-color {
  background-color: #f9f9f9;
  padding: 4rem 3rem;
}
#profile-dash h1 {
  font-size: 24px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  color: #000000;
}
#profile-dash h2 {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
  font-family: var(--mulish);
  color: #fff;
}
#profile-dash .dash-card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
#profile-dash .card-btn {
  border-radius: 8px;
  padding: 1rem;
}
#profile-dash .bg-percent {
  border-radius: 12px;
  background: #ffffff4d;
  padding: 0.5rem 1rem 0 1rem;
}
#profile-dash .user {
  background: #3751ff33;
  padding: 0.5rem;
  border-radius: 2px;
}
#profile-dash .employee-btn {
  background: #3751ff33;
  color: #3751ff;
  padding: 0.7rem;
  border-radius: 3px;
  border: transparent;
  font-size: 12px;
}
#profile-dash .graph-card {
  background: #ffffff;
  box-shadow: 0px 12.7812px 42.6042px rgba(160, 163, 189, 0.1);
  border-radius: 8.52083px;
  padding: 1rem;
}
#profile-dash .text-10px {
  font-size: 10.23px;
  font-weight: var(--font-weight-medium);
  color: #b9b9b9;
}
#profile-dash .text-12px {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
}
#profile-dash .text-13px {
  font-size: 13px;
  font-weight: var(--font-wieght-semibold);
  color: #171717;
  font-family: var(--inter);
}
#profile-dash .text-14px {
  font-size: 14px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  color: #141414b2;
}
#profile-dash .text-16px {
  font-size: 16px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  color: #141414b2;
}
#profile-dash .text-18px {
  font-size: 18px;
  font-weight: var(--font-wieght-bold);
  font-family: var(--mulish);
  color: #808080b2;
}

@media (max-width: 350px) {
  #profile-dash .text-20px {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  #profile-dash .employee-btn {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  #profile-dash h1 {
    font-size: 18px;
  }
  #profile-dash h2 {
    font-size: 18px;
  }
}
