#chat-component .bg-color {
  background-color: #f9f9f9;
  padding: 4rem 3rem;
}
#chat-component h1 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  font-family: var(--mulish);
  color: #000000;
}
#chat-component h2 {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
  font-family: var(--mulish);
  color: #fff;
}
#chat-component .dash-card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
#chat-component .card-btn {
  border-radius: 8px;
  padding: 1rem;
}
#chat-component .bg-percent {
  border-radius: 12px;
  background: #ffffff4d;
  padding: 0.5rem 1rem 0 1rem;
}
#chat-component .user {
  background: #3751ff33;
  padding: 0.5rem;
  border-radius: 2px;
}
#chat-component .employee-btn {
  background: #3751ff33;
  color: #3751ff;
  padding: 0.7rem;
  border-radius: 3px;
  border: transparent;
  font-size: 12px;
}
#chat-component .text-12px {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
}
#chat-component .text-14px {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  font-family: var(--mulish);
  color: #141414b2;
}
#chat-component .text-16px {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  font-family: var(--mulish);
  color: #141414b2;
}
#chat-component .text-18px {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  font-family: var(--mulish);
  color: #808080b2;
}

@media (max-width: 350px) {
  #chat-component .text-20px {
    font-size: 12px;
  }
}

.chat__container-header button {
  width: 79px;
  height: 32px;
  background: rgba(201, 99, 249, 0.3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #dc9df9;
  outline: none;
  border: none;
}
.chat__container-title {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-30);
  line-height: 20px;
  color: #000000;
}
.chat__container-subtitle,
.message__box-container .msg-P {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-20);
  line-height: 20px;
  color: #000000;
  opacity: 0.6;
}
.chat__box__contaniner {
  margin-top: 47px;
  display: flex;
}
.chat__call__contaniner {
  position: relative;
  margin-bottom: 200px;
  display: flex;
}
.chat__box__contaniner-left {
  width: 334px;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.chat-call-left {
  background-color: var(--white);
  width: 613px;
}
.chat-call-left-header {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 49.39px;
  padding-left: 27px;
}
.chat-call-left-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 18px;
  letter-spacing: 0.2px;
  color: var(--secondary);
}
.chat-call-left-header div p {
  width: 24px;
  height: 23px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.chat-call-left-header div .chat-call-left-header-P1 {
  background: rgba(69, 182, 24, 0.2);
  color: var(--primary);
}
.chat-call-left-header div .chat-call-left-header-P2 {
  background: rgba(240, 14, 14, 0.2);
  color: #f00e0e;
}

.chat-call-view {
  background-image: url("../../../assets//images/chat-call/Rectangle9162.png");
  height: 100%;
  height: 697px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-chat-call-view {
  /* display: flex; */
  margin-top: 22px;
  padding-right: 24px;
}
.top-chat-call-view-left {
  float: left;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 24px;
}
.top-chat-call-view-right {
  float: right;
}
.inn-top-chat-call-view-right div {
  margin-bottom: 12px;
  box-sizing: border-box;
}
.inn-top-chat-call-view-right div img {
  border-radius: 8px;
  border: 3px solid #ffffff;
  width: 75px;
  height: 75px;
}
.top-chat-call-view-left button:nth-child(1) {
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  outline: none;
}
.top-chat-call-view-left button:nth-child(2) {
  width: 90px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 100%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}
.bottom-chat-call-view {
  padding-left: 27px;
  margin-bottom: 32px;
}
.inn-bottom-chat-call-view-left .volume {
  width: 48px;
  height: 125px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 48px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.inn-bottom-chat-call-view-left .volume input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 65px;
  background: #c4c4c4;
  border: none;
  outline: none;
}
.inn-bottom-chat-call-view-left .volume input[type="range"]:focus {
  outline: none;
}

.inn-bottom-chat-call-view-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.inn-bottom-chat-call-view-right button:nth-child(1),
.inn-bottom-chat-call-view-right button:nth-child(3) {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  outline: none;
}
.inn-bottom-chat-call-view-right button:nth-child(2) {
  width: 64px;
  height: 64px;
  background: #e22020;
  border-radius: 50%;
  border: none;
  outline: none;
}

.chat__box__contaniner-left .personal__avatar {
  min-height: 70px;
  background: rgba(69, 182, 24, 0.2);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 24px 9px 25px;
  position: relative;
}

.chat__box__contaniner-left .grp__chat__view-left-top {
  height: 70px;
  background: rgba(69, 182, 24, 0.2);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 9px 24px 9px 25px;
}
.chat__box__contaniner-left .grp__chat__view-left-top .arrow-top-G-Chat {
  display: flex;
  align-items: center;
  gap: 22px;
}
.chat__box__contaniner-left .mobile-arrow-top-G-Chat {
  padding: 9px 24px 9px 24px;
  gap: 8px;
}
.chat__box__contaniner-left .arrow-top-G-Chat span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-20);
  line-height: 100%;
  color: var(--secondary);
}
.chat__box__contaniner-left .grp__chat__view-left-top svg {
  display: none;
}
.chat__avatar {
  height: 53px;
  width: 53px;
  border-radius: 0px;
}
.chat__box__contaniner-left .personal__avatar svg {
  cursor: pointer;
  display: none;
}
.chat__box__contaniner-left .personal__avatar .chat__TEXT {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--fs-24);
  line-height: 100%;
  color: var(--secondary);
  position: relative;
  top: 15px;
}
.chat__search_box--user-avatar {
  height: 696px;
  background: #f2f2f2;
  border-radius: 6px 0px 0px 6px;
}
.group-chat__search_box--user-avatar {
  height: 680px;
}
.chat__search-box {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 58px;
}
.chat__search-box input {
  width: 100%;
  height: 25px;
  background: #f6f6f6;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  padding-left: 30px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 11px;
  color: var(--secondary);
  /* opacity: 0.3; */
}
.addParticipants {
  padding-left: 30px;
  padding-right: 58px;
  margin-bottom: 38px;
}
.inn-addParticipants {
  background: #f6f6f6;
  border-radius: 10px;
}
.chat__search-box svg {
  position: relative;
  left: 23px;
}
.users__chat__avatar {
  height: 55px;
}

.chat__component_users-data {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 25px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.chat__component_users-data:hover {
  background-color: #eeeded;
}
.chat__users_name,
.chat__users_title {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-12);
  line-height: 15px;
  letter-spacing: 0.2px;
  color: var(--secondary);
}
.chat__users_title {
  font-size: var(--fs-12);
  line-height: 15px;
  color: #666666;
  font-weight: normal;
}
.message__box-container {
  padding: 20px;
  width: 699px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message__box-container .msg-h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 23px;
  text-align: center;
}
.message__box-container .msg-h2 {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 23px;
  text-align: center;
}
.message__box-container .msg-P {
  text-align: center;
  margin-top: 9.58px;
}
.message__box-container .msg-photo {
  max-width: 100%;
  margin-top: 24.86px;
}

.message__box-component2 {
  width: 699px;
  background-color: var(--white);
}
.message__box-component2_header {
  height: 70px;
  background: rgba(69, 182, 24, 0.2);
  border-radius: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  position: relative;
  padding-right: 35px;
}
.chatBox__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.chatBox__profile p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-20);
  line-height: 100%;
  color: var(--secondary);
}

.chat-messager-container {
  padding: 35px;
  padding-top: 16px;
  padding-bottom: 5px;
  position: relative;
}
.chat-call-right {
  width: 408px;
  position: relative;
  right: 0;
  top: 0;
  margin-left: 12px;
}
.sendChatMsg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.inn__sendChatMsg {
  max-width: 176px;
  min-height: 66px;
  background: #efefef;
  border-radius: 6px 6px 0px 6px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 8px;
}
.inn_business_sendChatMsg {
  max-width: 349px;
  min-height: 43px;
  background: #45b618;
  border-radius: 6px 6px 0px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.inn_business_sendChatMsg span{
  color: #ffffff;
}
.inn__sendChatMsg span,
.inn__replyChatMsg span,
.replyChatMsg .replied__to,
.inn_business_sendChatMsg span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
}
.inn__sendChatMsg .send__chatUser__name__ {
  color: #fc7300;
  font-weight: bold;
}
.replyChatMsg{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sendChatMsg .sendChatMsg__time,
.replyChatMsg .replyChatMsg__time,
.replyChatMsg .replied__to__text {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #333333;
  opacity: 0.3;
  margin-top: 6px;
  margin-bottom: 10px;
}

.inn__replyChatMsg {
  display: flex;
  flex-direction: column;
  max-width: 144px;
  min-height: 55px;
  background: #fbfbfb;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 6px 6px 6px 0px;
  gap: 8px;
  padding: 8px;
}
.replyChatMsg .replied__to {
  padding: 10px;
  max-width: 176px;
  min-height: 44px;
  background: #efefef;
  border-radius: 6px 6px 0px 6px;
}
.inn__replyChatMsg .reply__chatUser__name__ {
  color: #00237b;
  font-weight: bold;
}
.middle-_-time-date {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-14);
  margin-top: 13px;
  margin-bottom: 13px;
  line-height: 18px;
  color: #888888;
  text-align: center;
}
.group_chat-messager-container {
  padding: 18.14px;
  height: 620px;
}
.group_chat-messager-container p {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-20);
  line-height: 23px;
  color: #000000;
  text-align: center;
  max-width: 457px;
  height: 71px;
  opacity: 0.5;
  margin: auto;
}
.send-message-box {
  display: flex;
  justify-content: flex-end;
}
.inn-send-message-box {
  max-width: 349px;
  height: 100%;
  background: var(--primary);
  border-radius: 6px 6px 0px 6px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 9px;
  line-height: 11px;
  color: var(--white);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-message-time-date {
  text-align: right;
  margin-top: 6px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 8px;
  line-height: 10px;
  color: #333333;
  opacity: 0.3;
}
.middle-message-time-date {
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-14);
  line-height: 18px;
  color: #888888;
  text-align: center;
}
.replied-message-to,
.reply-message-ime-date {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary);
  opacity: 0.3;
}
.replied-message-to {
  margin-bottom: 9px;
}
.reply-message-ime-date {
  margin-top: 6px;
}

.inn-reply-message-box {
  width: 176px;
  height: 38px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 6px 6px 0px 6px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 9px;
  line-height: 11px;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
}
.inn-reply-message-box2 {
  width: 190px;
  height: 65px;
  background: #f2f2f2;
  border-radius: 6px 6px 6px 0px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 9px;
  line-height: 11px;
  color: #666666;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}
.inn-reply-message-box2 .replyName {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  color: #009bbc;
}
.inn-reply-message-box3 {
  width: 245px;
  height: 75px;
}
.inn-send-message-box2 {
  width: 161px;
  height: 43px;
}
.bottom-chat-footer {
  max-width: 100%;
  height: 77px;
  background: #f2f7ff;
  padding-right: 12px;
  padding-left: 76px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}
.bottom-chat-footer .chat-input-box {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
}
.bottom-chat-footer .chat-input-box input {
  width: 100%;
  height: 48px;
  background-color: #e2e6ed;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 90px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-14);
  line-height: 18px;
  color: #666666;
}
.chat-input-icons {
  position: absolute;
  margin-right: 20px;
  margin-top: 12px;
}
.inn-chat-input-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16.39px;
}
.chat-input-icons .inn-chat-input-icons svg,
.send__message-btn-svg {
  cursor: pointer;
}
.send__message-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* GROUP CHAT COMPONENT*/
.group__chat-subject {
  height: 697px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  background: rgba(217, 218, 215, 0.5);
  border-radius: 6px 0px 0px 6px;
}
.groupChatFileUpload {
  margin-top: 77px;
  background: #7f8080;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 100%;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  padding: 0.875em; /*14px/16px*/
  position: relative;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupChatFileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.groupChatFileUpload span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-18);
  line-height: 100%;
  color: var(--white);
  width: 92px;
  height: 36px;
  text-align: center;
  margin-top: 13px;
}
.group__subject {
  width: 301px;
}
.group__subject label {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-12);
  line-height: 100%;
  color: #909090;
}
.group__subject .group__subject_input svg {
  position: relative;
  float: right;
  margin-top: -30px;
}
.group__subject_input input {
  width: 100%;
  border: none;
  background: #e9e9e8;
  border-bottom: 2px solid #000000;
  padding: 9px 24px 9px 0px;
  outline: none;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-16);
  line-height: 100%;
  color: var(--secondary);
}
.group__chat__mark-icon {
  margin-top: 84px;
}

.group-chat-personal__avatar {
  max-width: 100%;
  height: 151px;
  border-bottom: 1px solid #d7d7d6;
  margin-left: 10px;
  margin-right: 10px;
}
.direct-group-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.direct-group-text a {
  pointer-events: none;
}
.direct-group-text a:nth-child(1) {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #868686;
}
.direct-group-text a:nth-child(2) {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  border-bottom: 1px solid #45b618ed;
  /* border-radius: 5px; */
  padding-bottom: 2px;
}
.group-chat-avatar_-_img {
  width: 60.79px;
  height: 60.79px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
.inn-group-chat-personal__avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.inn-group-chat-avatar_-_img {
  border: 2px solid var(--primary);
  width: 48.79px;
  height: 48.79px;
  border-radius: 100%;
}
.inn-group-chat-avatar_-_img img {
  width: 45.7px;
  height: 45.25px;
  border-radius: 100%;
}
.inn-group-chat-personal__avatar p {
  font-family: var(--mulish);
  font-style: normal;
  /* font-weight: normal; */
  font-size: var(--fs-14);
  line-height: 17px;
  color: var(--secondary);
}
.group_chat-user_name {
  font-weight: bold;
}
.group_chat-my-acct-link_text {
  color: #b5b5b4;
}
.chat-messager-container
  .group-chat-send-message-box
  .inn-group-chat-send-message-box {
  width: 176px;
  background: #efefef;
  border-radius: 6px 6px 0px 6px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 10px 13px 10px 19px;
  font-family: var(--mulish);
  font-style: normal;
  font-size: 9px;
  line-height: 11px;
}
.chat-messager-container
  .group-chat-send-message-box
  .inn-group-chat-send-message-box
  span {
  font-weight: bold;
}

.inn-group-chat-reply-message-box2 {
  min-width: 144px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 11px;
  background: #fbfbfb;
  box-sizing: border-box;
  border-radius: 6px 6px 6px 0px;
  padding: 5px 23px 6px 17px;
}
.inn-group-chat-reply-message-box2 span {
  font-weight: bold;
}
.popoverBox {
  width: 340px;
  max-height: 264px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 30px;
}

.popoverBox.arrow-top {
  margin-top: 40px;
}

.popoverBox.arrow-top:after {
  content: " ";
  position: absolute;
  right: 15px;
  top: -25px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 30px solid #ffffff;
}
.popover__close-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 18px;
  padding-right: 11px;
}
.popover__links {
  display: flex;
  flex-direction: column;
  margin-top: 9.12px;
}
.popover__links li,
.popover__links a {
  display: block;
  height: 43px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-wieght-semibold);
  font-size: var(--fs-18);
  line-height: 23px;
  display: flex;
  align-items: center;
  color: var(--secondary);
  padding-left: 24px;
  cursor: pointer;
}
.popover__links li:hover,
.popover__links a:hover {
  background: #f7f6f6;
}
.chat-component-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.open_popover_btn {
  height: 100%;
}
.popover__participants {
  background-color: #ebecea;
  border-radius: 0px 10px 0px 0px;
  position: relative;
  max-width: 272px;
  min-height: 620px;
  z-index: 1;
  top: 275px;
  left: 35px;
}
.popover__participants-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #daf0d1;
  min-height: 70px;
  gap: 47px;
}
.participants__close-btns {
  position: relative;
  top: -8px;
}
.popover__participants-header span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-18);
  line-height: 100%;
}
.popover__participants__links {
  width: 272px;
  border-radius: 0px 10px 0px 0px;
  position: relative;
  top: 12px;
}

.popover__partcipants_link__header {
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 6px;
  padding-top: 12px;
  margin-bottom: 27px;
}
.mobile-popover__partcipants_link__header {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.popover__partcipants_link__header span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: 500;
  font-size: var(--fs-20);
  line-height: 100%;
  color: #333333;
}

.chat__group__component_participants-data {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  min-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 24px;
  position: relative;
}
.mobile-chat__group__component_participants-data {
  justify-content: space-between;
  gap: 6px;
  padding-left: 20px;
  padding-right: 20px;
}
.chat__group__component_participants-data:hover {
  background-color: #d0dbca;
}
.chat__group__component_participants-data .chat__avatar {
  width: 40px;
  height: 40px;
}
.chat__group__component_participants-data .userChatData {
  height: 40px;
}
.chat__group__component_participants-data .userMobileChatData {
  display: flex;
  gap: 6px;
  height: 40px;
}
.chat__group__component_participants-data .choose-group-admin-button {
  border-radius: 3px;
  width: 69px;
  min-height: 19px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-10);
  line-height: 20px;
  color: #000000;
  border: 1px solid #000000;
  outline: none;
  position: absolute;
  right: 15px;
}
.chat__group__component_participants-data .choose-group-admin-button:hover {
  background-color: #daf0d1;
}

.right__click_menu {
  width: 150px;
  height: 169px;
  background: #ffffff;
  box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.right__click_menu .right__click_menu_links {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 12px;
  cursor: pointer;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-16);
  line-height: 23px;
  border-radius: 10px;
  color: #333333;
}
.right__click_menu .right__click_menu_links:hover {
  background: #f7f6f6;
  font-weight: bold;
}
