.stories__box__contaniner {
  border: 1px solid red;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 107px;
  padding-left: 23.65px;
  margin-bottom: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.addStories {
  margin-right: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10.65px;
  /* width: 100px; */
}
.addStories img {
  width: 45.7px;
  height: 45.25px;
}
.addStories span {
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-12);
  line-height: 15px;
  letter-spacing: 0.2px;
  color: var(--secondary);
}
.addStories_-img__svg svg {
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  margin-top: 33px;
  margin-left: -17px;
}
.stories-header {
  display: flex;
  gap: 23px;
}
.stories-header button {
  width: 102px;
  height: 32px;
  background: rgba(69, 182, 24, 0.2);
  border-radius: 8px;
  color: var(--primary);
  gap: 4px;
  position: relative;
  top: -5px;
}

.stories__container {
  position: relative;
  top: 5px;
  display: flex;
  gap: 17px;
}
.stories__container .stories-show-box .stories-profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10.65px;
  /* max-width: 100px; */
}
.stories__container .stories-show-box .avatar__stories {
  width: 48.79px;
  height: 48.79px;
  background-color: #ffffff;
  border: 2px solid #45b618;
  border-radius: 50%;
  text-align: center;
}
.stories__container .stories-show-box .avatar__stories img {
  width: 45.7px;
  height: 45.25px;
}
#chat-mobile-box {
  display: none;
}
.mobile-chat-messager-container {
  background-color: #f2f2f2;
}
.mobile-message__box-component {
  width: 699px;
  background-color: var(--white);
}
.mobile-message__box-component_header {
  height: 70px;
  background: rgba(69, 182, 24, 0.2);
  border-radius: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}
.mobile-chat-messanger-container {
  background: #f2f2f2;
  border-radius: 6px 0px 0px 6px;
  /* height: 500px; */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.reply__message__container {
  margin-bottom: 16px;
}
.send__message__container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.send__message__box {
  padding: 8px;
  width: 250px;
  background: #45b618;
  border-radius: 4px 4px 0px 4px;
}
.send__message__box span {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.send__message__time {
  text-align: right;
  margin-top: 4px;
}
.reply__message__time {
  margin-top: 4px;
}
.send__message__time span,
.reply__message__time span {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #333333;
  opacity: 0.3;
}
.reply__message__box {
  max-width: 250px;
  background: #fbfbfb;
  border-radius: 6px 6px 6px 0px;
  padding: 8px;
}
.missed-call {
  width: 198px;
  height: 31px;
  background: #fbfbfb;
  border-radius: 6px 6px 6px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 10px;
  padding-right: 5px;
}
.missed-call-svg {
  width: 16px;
  height: 14.77px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop__send__message__box {
  padding-left: 16px;
  max-width: 176px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.desktop__reply__message__box {
  max-width: 100%;
  padding-left: 16px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #999999;
  box-sizing: border-box;
}
.desktop__send__message__box span {
  color: #666666;
}
.reply__to-message__box {
  width: 176px;
  padding: 8px;
  padding-left: 16px;
  background: #efefef;
  border-radius: 6px 6px 0px 6px;
}
.group-participants {
  min-height: 620px;
}

.Call_-_box-container {
  width: 698px;
  height: 780px;
  background: #c4c4c4;
  border-radius: 0px 10px 10px 0px;
  position: relative;
}
.Call_-_box-container img {
  width: 100%;
  height: 780px;
}
.Call_-_box-container-top {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  top: 32px;
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}
.Call_-_box-container-top button {
  width: 90px;
  height: 40px;
  background: rgba(51, 51, 51, 0.5);
  border-radius: 8px;
  font-family: var(--mulish);
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-14);
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.33px;
}
.Call_-_box-container-top img {
  width: 112px;
  height: 100px;
  border: 3px solid #ffffff;
}
.Call_-_box-container-bottom {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.mobile__popoverBox {
  position: absolute;
  width: 250px;
}
.mobile__message-chat-box-members-none {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}
.mobile__message-chat-box-members-none .ChatBoxMembers{
  position: relative;
  top: -60px;
  background-color: #F2F2F2;
}
.mobile__popover__participants {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  border-radius: 0px 10px 0px 0px;
  min-height: 620px;
  z-index: 1;
}
.mobile__popover__participants .popover__participants__links,
.popover__partcipants_link__header,
.chat__group__component_participants-data {
  width: 100%;
}
.chat__group__component_participants-data .userChatData-box {
  display: flex;
  gap: 6px;
  align-items: center;
}
